.canvas-container {
    display: flex;
    align-items:center;
    justify-content: center;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    
  }

th{
    background-color: rgb(233, 216, 60) ;
}