<app-menu [Productos]="Productos"></app-menu>

<div class="row" style="margin-top: 7rem;">
	<div class="col-lg-4">
		<div class="pricing-table pricing-table-color">
			<div class="card bg-primary">
				<div class="card-body text-center">
					<div class="price-title text-white">PERSONAL</div>
					<h2 class="price text-white"><small class="currency">$</small>199</h2>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><b>4 GB</b> Ram</li>
						<li class="list-group-item"><b>80 GB</b> Disk Space</li>
						<li class="list-group-item">Monthly Backups</li>
						<li class="list-group-item">Email Support</li>
						<li class="list-group-item">24X7 Support</li>
					</ul> <a href="javascript:;" class="btn btn-link text-primary bg-white my-3 btn-round">View More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="pricing-table pricing-table-color">
			<div class="card bg-danger">
				<div class="card-body text-center">
					<div class="price-title text-white">BUSINESS</div>
					<h2 class="price text-white"><small class="currency">$</small>299</h2>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><b>4 GB</b> Ram</li>
						<li class="list-group-item"><b>80 GB</b> Disk Space</li>
						<li class="list-group-item">Monthly Backups</li>
						<li class="list-group-item">Email Support</li>
						<li class="list-group-item">24X7 Support</li>
					</ul> <a href="javascript:;" class="btn btn-link text-danger bg-white my-3 btn-round">View More</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="pricing-table pricing-table-color">
			<div class="card bg-success">
				<div class="card-body text-center">
					<div class="price-title text-white">CORPORATE</div>
					<h2 class="price text-white"><small class="currency">$</small>399</h2>
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><b>4 GB</b> Ram</li>
						<li class="list-group-item"><b>80 GB</b> Disk Space</li>
						<li class="list-group-item">Monthly Backups</li>
						<li class="list-group-item">Email Support</li>
						<li class="list-group-item">24X7 Support</li>
					</ul> <a href="javascript:;" class="btn btn-link text-success bg-white my-3 btn-round">View More</a>
				</div>
			</div>
		</div>
	</div>
</div>
