.animate__fadeOutUp{
    --animate-duration: 2s;
  }
.fondoRuraReciclemos{
    padding-top: 0rem;
    padding-bottom: 5rem;
    background: url("../../../assets/images/Fondo_Ciudad.png") center center no-repeat;
    background-size: cover;
   /*  background-color: #7842a51c; */
    text-align: center;
}
  
@media (min-width: 576px) {
.fondoRuraReciclemos{
    padding-top: 0rem;
    padding-bottom: 15rem;
    background: url("../../../assets/images/Fondo_Ciudad.png") center center no-repeat;
    background-size: cover;
    /*  background-color: #7842a51c; */
    text-align: center;
}

}