<app-menu [Productos]="Productos"></app-menu>

<app-tarjetas-precios></app-tarjetas-precios>


<!--INICIO COMPONENTEN VENTAS-->
<app-ventas></app-ventas>


<!--FIN COMPONENTEN VENTAS-->

<!--INICIO COMPONENTEN FORMULARIO CLIENTES-->
<app-formulario-clientes></app-formulario-clientes>


<!--FIN COMPONENTEN FORMULARIO CLIENTES-->

<!-- SECCION FONDO RUTA RECICLEMOS-->

<div class="fondoRuraReciclemos"></div>
  
<button id="myBtn">
  <img src="assets/images/up-arrow.png" alt="alternative" />
</button>

<app-footer></app-footer>