<app-menu [Productos]="Productos"></app-menu>

<app-tarjetas-precios (activarVentas)="activar($event)"></app-tarjetas-precios>


<!--INICIO COMPONENTEN VENTAS-->
<div *ngIf="mostrarVentas">
  <div id="Ventas">
    <!-- <app-ventas></app-ventas> -->
    <app-materiales (materialesData)="activarFormulario($event)"></app-materiales>
  </div>
</div>


<!--FIN COMPONENTEN VENTAS-->

<!--INICIO COMPONENTEN FORMULARIO CLIENTES-->
<div class="formulario">
  <div  *ngIf="mostrarFormulario">
    <app-formulario-clientes (formData)="addItem($event)"></app-formulario-clientes>
  </div>
</div>


<!--FIN COMPONENTEN FORMULARIO CLIENTES-->

<!--INICIO COMPONENTE TRANSACCION-->
<app-transaccion></app-transaccion>
 
<!--FIN COMPONENTE TRANSACCION-->


<!-- SECCION FONDO RUTA RECICLEMOS-->

<div class="fondoRuraReciclemos"></div>
  
<button id="myBtn">
  <img src="assets/images/up-arrow.png" alt="alternative" />
</button>

<app-footer></app-footer>