<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation" 
    style="background-color: white;
    box-shadow: 0 4px 4px 0px rgb(172, 170, 170);
    
    "
    >
        <div class="container-fluid">
      
          
          
            <a class="navbar-brand" href="#" ><img src="assets/images/Ruta_Reciclemos_200x100-8.png"
                style="height: 60%;
                       width: 60%;
                       padding-left: 10%;" 
               class="d-inline-block align-top" alt="">
               
            </a> 
      
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link {{Nosotros}} " aria-current="page" href="https://rutareciclemos.cl/nosotros">NOSOTROS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link {{Informacion}} dropdown-toggle" href="/informacion" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">EDUCACIÓN AMBIENTAL</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="/informacion#BotellasPET">Plásticos: Botellas PET</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#EnvasesPEAD">Plásticos: Envases PEAD</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#EnvasesPEBD">Plásticos: Envases PEBD</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#CartonyPapel">Cartón y papel</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#LatasyMetales">Latas de aluminio</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#Informaciones">Informaciones</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><i class="fa-solid fa-circle-user fa-lg"></i></button>
                    </li>
                    
                    
                    
                </ul>
            </div> 
        </div> 
      </nav>
