
    <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation" 
    style="background-color: white;
    box-shadow: 0 4px 4px 0px rgb(172, 170, 170);
    
    "
    >
        <div class="container">
      
          
          
            <a class="navbar-brand" href="#" ><img src="assets/images/Ruta_Reciclemos_200x100-8.png"
                style="height: 60%;
                       width: 60%;
                       padding-left: 10%;" 
               class="d-inline-block align-top" alt="">
               
            </a> 
      
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/nosotros">NOSOTROS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="/informacion" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">EDUCACIÓN AMBIENTAL</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="/informacion#BotellasPET">Plásticos: Botellas PET</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#EnvasesPEAD">Plásticos: Envases PEAD</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#EnvasesPEBD">Plásticos: Envases PEBD</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#CartonyPapel">Cartón y papel</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#LatasyMetales">Latas de aluminio</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><i class="fa-solid fa-circle-user fa-lg"></i></button>
                    </li>
                    
                    
                    
                </ul>
                <!-- <span class="nav-item">
                    <button class="btn"><i class="fa-solid fa-circle-user "></i></button>
                </span> -->
            </div> 
        </div> 
      </nav>
  
  <!-- ¿Que Hacemos? -->

  <header class="cabecera">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1 class="titulo" style="text-align: left; color: white;">¿Qué hacemos?</h1>
                </div>
                <div  class="col-lg-8">
                    <p class="texto1">En Ruta Reciclemos buscamos hacer sustentable el servicio de retiro de residuos reciclables.</p>
                </div>
            </div>
        </div> 
    </div> 
  </header> 

  <!-- ¿Cómo lo hacemos? -->
  <div class="container" style="margin-top: 4rem;">
    <div class="row">
        <div class="text-center col-lg-8">
            <h1 class="titulo">¿Cómo lo hacemos?</h1>
            <p class="texto2 contenedor">Al descargar la aplicación Ruta Reciclemos y programar un retiro de residuos reciclables nuestra plataforma de gestión genera una ruta de recolección de residuos mejorando la eficiencia de la recolección de estos. Una vez retirado los residuos son pesado reenviando la información del pesaje y de la ubicación a nuestra plataforma de gestión. En nuestra plataforma de gestión contamos con la información en línea del pesaje, ubicación y reciclamiento de los residuos, en resumen, contamos con toda la trazabilidad del residuo que nos entregas hasta su reciclaje.</p>
        </div>
        <div class="text-center col-lg-4">
            <img src="assets/images/Mockup.png" class="img-fluid">
        </div>
    </div>
  </div>



  <!-- ¿Qué residuos reciclables retiramos? -->
  <div class="container tarjetas">

    <div class="row">
        <div class="text-center col-lg-12">
            <h1 class="titulo">¿Qué residuos reciclables retiramos?</h1>
        </div>
    </div>
    <div class="row g-0" style="margin-top: 3rem;">

            <!-- Botellas PET -->
            <div class="card tarjetaResiduo fondoPET">
                <img src="assets/images/PET.svg" class="card-img-top icono">
                <div class="card-body text-center carta">
                    <h6 class="card-title" style="color: white;">Plástico: Botellas PET</h6>
                    <a href="/informacion#LatasyMetales" class="btn btn-primary boton">Más información</a>
                </div>
            </div>

            <!-- Envases PEAD -->
            <div class="card tarjetaResiduo fondoPEAD">
                <img src="assets/images/PEAD.svg" class="card-img-top icono">
                <div class="card-body text-center carta">
                    <h6 class="card-title" style="color: white;">Plástico: Envases PEAD</h6>
                    <a href="/informacion#LatasyMetales" class="btn btn-primary boton">Más información</a>
                </div>
            </div>

            <!-- Envases PEBD -->
            <div class="card tarjetaResiduo fondoPEBD">
                <!-- <img src="assets/images/PEBD.svg" class="card-img-top imagen"> -->
                <img src="assets/images/PEBD.svg" class="card-img-top iconoPEBD">
                <div class="card-body text-center carta">
                  <h6 class="card-title"  style="color: white;">Plástico: Envases PEBD</h6>
                  <a href="/informacion#EnvasesPEBD" class="btn btn-primary boton">Más información</a>
                </div>
            </div>

            <!--Cartón y papel -->
            <div class="card tarjetaResiduo fondoCarton">
               <!--  <img src="assets/images/img/carton.jpg" class="card-img-top imagen"> -->
               <img src="assets/images/Carton.svg" class="card-img-top icono">
                <div class="card-body text-center carta">
                  <h6 class="card-title" style="color: white;">Cartón y papel</h6>
                  <a href="/informacion#CartonyPapel" class="btn btn-primary boton">Más información</a>
                </div>
            </div>

            <!-- Latas de aluminio -->
            <div class="card tarjetaResiduo fondoLatas">
               <!--  <img src="assets/images/img/latas.jpg" class="card-img-top imagen"> -->
               <img src="assets/images/Latas.svg" class="card-img-top icono">
                <div class="card-body text-center carta">
                    <h6 class="card-title" style="color: white;">Latas de aluminio</h6>
                    <a href="/informacion#LatasyMetales" class="btn btn-primary boton">Más información</a>
                </div>
            </div>
    </div>
  </div>


  
  <!-- Nuestro Propósito -->  
  <div class="container" style="margin-top: 4rem;">
    <div class="row">
        <div class="text-center col-lg-12">
            <h1 class="titulo">Nuestro Propósito</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 1rem;">
        <div class="col-lg-4">
            <div class="text-center contenedorImg">
               <img src="assets/images/Imagen2.jpg" class="img-fluid sombra">
            </div>
            <div class="text-center contenedor" style="padding-top: 3.5rem;">
                <p class="texto3">Nuestro propósito es reducir el material reciclable dispuesto en rellenos sanitarios o mal dispuesto e ingresarlo en la economía circular.</p>
            </div>     
        </div>
        <div class="col-lg-4">
            <div class="text-center">
                <p class="texto3" style="margin-bottom: 2rem; padding-left: 1rem; padding-right: 1rem;">Nuestro propósito va de la mano con los Objetivo de Desarrollo Sostenible. Especialmente con el Objetivo 12 que busca garantizar modalidades de consumo y producción sostenibles y como meta (12.5) de aquí a 2030, reducir considerablemente la generación de desechos mediante actividades de prevención, reducción, reciclado y reutilización.</p>
            </div>
            <div class="text-center" style="padding-left: 3rem; padding-right: 3rem;">
                <img src="assets/images/Imagen.jpg" class="img-fluid sombra">
            </div>
        </div>
        <div class="col-lg-4">
            <div class="text-center contenedorImg">
                <img src="assets/images/img/Medioambiente-portada.jpg" class="img-fluid sombra">
            </div>
            <div class="text-center contenedor" style="padding-top: 4.5rem;">
                <p class="texto3">En relación con este objetivo logramos aportar a otros objetivos de desarrollo sostenible tales como (11) Ciudades y comunidades sostenible (13) Acción por el Clima (14) Vida Submarina.  </p> 
            </div>
        </div>
    </div>

  </div>




  <!-- Nuestro Desafío --> 
  <div class="cabecera2">
      <div class="container" style="margin-top: 4rem;">
        <div class="row">
            <div class="text-center col-lg-6">
                <h1 class="titulo">Nuestro Desafío</h1>
            </div>
        </div>
        <div class="row">
            <div class="text-center col-lg-6 contenedor">
                <p class="texto2" style="color: white;">El desafío que nos propusimos fue crear conciencia en los ciudadanos y ayudarles a identificar los materiales reciclables que pueden servir como materia prima para nuevos procesos productivos y darle valor a un recurso que se veía perdido. 
                    Intentaremos acercar los centros de acopio/puntos limpios para potenciar las campañas de reciclaje locales y fortalecer modelos de economía circular hacia un modelo de desarrollo sustentable con concientización ambiental.
                </p>
            </div>
        </div>
      </div>
  </div>



  <!---INICIO SECCIÓN ECONOMIA CIRCULAR-->
<div class="container-fluid EconomiaCircular">
    <h1 class="tituloCircular">Economía Circular</h1>
    <div class="row ">
        <div class="col-lg-4 order-lg-2">
            <div ><img class="img-fluid  rounded-circle" src="../../../assets/images/REP/circular2.png" alt="..." style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/></div>
        </div>
        <div class="col-lg-8 order-lg-1">
            
                <p class="muchoTextoCircular">La economía circular es un modelo de producción y 
                   consumo que garantiza un crecimiento sostenible en el tiempo. 
                   Con ella se promueve la optimización de recursos, la reducción 
                   en el consumo de materias primas y el aprovechamiento de los 
                   residuos, reciclándolos o dándoles una nueva vida para convertirlo 
                   en nuevos productos, de esta forma, el ciclo de vida de los productos 
                   se extiende.
                </p>
        
                <h4 class="muchoTextoCircular">¿Por qué debemos cambiar hacia una economía circular?</h4>
                <p class="muchoTextoCircular" style="padding-top: 1%;">
                    Uno de los motivos para avanzar hacia una economía circular es el aumento de la demanda de materias primas y la <span class="escasez">escasez de recursos</span>. Varias materias primas cruciales son finitas y, como la población mundial crece, la demanda también aumenta.

                    El impacto en el clima es otro de los factores. La extracción y el uso de materias primas tienen importantes consecuencias medioambientales, aumenta el consumo de energía y las emisiones de dióxido de carbono (CO2), mientras que un uso más inteligente de las materias primas puede reducir las emisiones contaminantes.
                    
                    Actualmente, la producción de los materiales que usamos diariamente son responsables del 45% de las emisiones de CO2.   
                </p>
            
        </div>
    </div>
</div> 

<!---INICIO SECCIÓN ECONOMIA CIRCULAR-->

<!---INICIO SECCION LEY REP-->
  <div class="container LeyRep">
    <div class="row">
        <div class="text-center col-lg-12">
            <h1 class="tituloCircular">Ley Rep</h1>
            <p class="muchoTexto  col-md-12">
                La Ley N° 20.920, Ley Marco para la Gestión de Residuos, 
                la Responsabilidad Extendida del Productor y Fomento al Reciclaje, o por sus siglas
                ley REP,  busca disminuir la generación de residuos y fomentar su reutilización, reciclaje y otro tipo de valorización.
                Con este fin, instaura la Responsabilidad Extendida del Productor, haciendo responsable al productor de los residuos que
                se generen a partir de sus productos, desde su generación hasta su valorización o eliminación.
            </p>
            <p class="muchoTexto2">
                La Ley establece diversos productos prioritarios, a los cuales se aplicará el régimen de la REP. Estos son: 
            </p>

        </div>
    </div>
    <div class="row" >
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/aceites.jpg"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Aceites lubricantes</p> 
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/electronicos.jpg"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Aparatos eléctricos y electrónicos</p>
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/baterias4.jpg"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Baterías</p>
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/envases2.jpg"   style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Envases y embalajes</p>
            
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="FitIn img-fluid  rounded-circle" src="../../../assets/images/REP/neumatico2.jpg"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Neumáticos</p>
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/pilas.jpg"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Pilas</p>
        </div>

    </div>

  </div>
  <!---FIN SECCION LEY REP-->


  <!---INICIO SECCION IMG LEY REP COMO FUNCIONA-->
  <div class="comoFunciona">
    <!-- <h1 class="tituloREP">¿Cómo funciona?</h1> -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12">

                <div >
                    <h1 class="tituloREP">¿Cómo funciona?</h1>
                    
                </div>
                <img src="../../../assets/images/REP/esquema.jpg" class="comoFuncionaImg">
            </div>
        </div> 
    </div> 
</div> 

  <!---INICIO SECCION IMG LEY REP COMO FUNCIONA-->


  

  <!-- <div class="container fondoTemporal">
    <div class="row">
        <div class="text-center col-lg-12">
            <h1 class="titulo">Nuestro Equipo</h1>
            </div>
    </div>
    <div class="row">

    </div>

  </div> -->
  
  <button id="myBtn">
    <img src="assets/images/up-arrow.png" alt="alternative" />
  </button>

  <!-- Footer-->
  <footer class="footere" >


    <!-- <div class="container px-5">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2022</p>
    </div> -->
    <div class="form-inline container  p-4">
        <div class="row">
          <div class=" col-md-3 col-sm-12">
            <h4 style="color: white;">Ruta Reciclemos</h4>
          </div>
        <div class=" col-md-3 col-sm-12">
            <h4 style="color: white;">Menu</h4>
            
            <!-- <div class="col"><a href="/nosotros">NOSOTROS</a></div>
            <div class="col"><a href="/informacion">EDUCACIÓN AMBIENTAL</a></div>
            <div class="col"><a href="#">PRODUCTOS</a></div> -->
            <ul class="plain">
                <li style="margin-bottom: 5%;"><a href="/nosotros" class="hacheRef" >Nosotros</a></li>
                <li style="margin-bottom: 5%;"><a href="/informacion" class="hacheRef">Educación ambiental</a></li>
                <li style="margin-bottom: 5%;"><a href="#" class="hacheRef">Productos</a></li>
                <li style="margin-bottom: 5%;"><a href="/politicas" class="hacheRef">Politicas de privacidad</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-12">
            <h4 style="color: white;">Contacto</h4>
            <!-- <div class="col"><i class="fa-solid fa-house" style="color: white; padding-top: 3%;"></i> Hugo Montriou #1386, Concepción, Chile</div> -->
            <div class="col"><i class="fa-solid fa-envelope" style="color: white; padding-top: 5%;"></i> rutaReciclemos@gmail.com</div>
            <div class="col"><i class="fa-solid fa-phone-flip" style="color: white; padding-top: 5%;"></i> +569 7930 1455</div>
            <!-- <div><i class="fa-solid fa-location-dot" style="color: white; padding-top: 5%; padding-bottom: 5%;"></i><a class="hacheRef" href="https://www.google.cl/maps/place/Hugo+Montriou+1386,+Concepci%C3%B3n,+B%C3%ADo+B%C3%ADo/@-36.8075957,-73.0533687,17z/data=!3m1!4b1!4m5!3m4!1s0x9669b5b0be1d338b:0xb8c272d023b90f9f!8m2!3d-36.8076!4d-73.05118" > Ver en Google maps</a></div> -->
        </div>
        <div class="col-md-3 col-sm-12">
            <h4 style="color: white;">Redes sociales</h4>    
            <ul class="plain">
                <li><a href="https://www.instagram.com/rutareciclemos/" class="hacheRef"><i class="fa-brands fa-instagram fa-2x" style="margin-bottom: 2%; margin-top: 3%; text-align: center;"></i></a></li>
                <li><a href="/informacion" class="hacheRef"><i class="fa-brands fa-facebook fa-2x" style="margin-bottom: 3%;"></i></a></li>
                <li><a href="https://www.tiktok.com/@rutareciclemos" class="hacheRef"><i class="fa-brands fa-tiktok fa-2x" style="margin-bottom: 2%;"></i></a></li>
                <li><a href="#" class="hacheRef"><i class="fa-brands fa-linkedin fa-2x" style="margin-bottom: 2%;"></i></a></li>
            </ul>
        </div>
        </div> <!--row-->
        <p style="color: white; text-align: center; padding-top: 2%;"><i class="fa-solid fa-copyright"></i> <b> Ruta Reciclemos 2022.</b>  Todos los derechemos reservados.</p>
      </div> <!--form inline container-->
  
</footer>
  
