<app-menu [Nosotros]="Nosotros"></app-menu>
  
  <!-- ¿Que Hacemos? -->

  <header class="cabecera">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h1 class="titulo" style="text-align: left; color: white;">¿Qué hacemos?</h1>
                </div>
                <div  class="col-lg-8">
                    <p class="texto1">En Ruta Reciclemos buscamos hacer sustentable el servicio de retiro de residuos reciclables.</p>
                </div>
            </div>
        </div> 
    </div> 
  </header> 

  <!-- ¿Cómo lo hacemos? -->
  <div class="container" style="margin-top: 4rem;">
    <div class="row">
        <div class="col-lg-8">
            <div class="text-center">
                <h1 class="titulo">¿Cómo lo hacemos?</h1>
                <p class="texto2 contenedor">
                    Al descargar la aplicación Ruta Reciclemos y programar un retiro de residuos reciclables nuestra plataforma de gestión genera una ruta de recolección de residuos mejorando la eficiencia de la recolección de estos. Una vez retirado, los residuos son pesados reenviando la información del pesaje y la ubicación a nuestra plataforma de gestión. En nuestra plataforma de gestión contamos con la información en línea del pesaje, ubicación y reciclamiento de los residuos, en resumen, contamos con toda la trazabilidad del residuo que nos entregas hasta su reciclaje.
                </p>
            </div>
            <div class="row contenedor">
                <h4>Beneficios de nuestro servicio</h4>
                <ul style="padding-left: 2rem;">
                    <li class="helpLi"><small class="texto2">Fomentamos y acercamos el reciclaje a nuestro usuarios.</small></li>
                    <li><small class="texto2">Es un servicio sin costo para usuarios que soliciten retiro de residuos reciclables.</small></li>
                    <li><small class="texto2">Podrás monitorear la llegada del camión recolector/punto limpio móvil en línea en la app.</small></li>
                    <li><small class="texto2">Además contamos con puntos limpios habilitados como puntos de recolección</small></li>
                    <li><small class="texto2">Detectamos hábitos y comportamientos.</small></li>
                    <li><small class="texto2">Reportes, Índices y tendencias detalladas.</small></li>
                </ul>
            </div>
        </div>
        <div class="text-center col-lg-4">
            <img src="assets/images/Mockup.png" class="img-fluid">
        </div>
    </div>
  </div>



  <!-- ¿Qué residuos reciclables retiramos? -->
  <div class="container tarjetas">

    <div class="row">
        <div class="text-center col-lg-12">
            <h1 class="titulo">¿Qué residuos reciclables retiramos?</h1>
        </div>
    </div>
    <div class="row g-0" style="margin-top: 3rem;">

            <!-- Botellas PET -->
            <div class="card tarjetaResiduo">
                <div class="fondoPET">
                    <img src="assets/images/PET.svg" class="card-img-top icono">
                    <div class="card-body text-center carta">
                        <h6 class="card-title" style="color: white;">Plástico: Botellas PET</h6>
                        <a href="/informacion#BotellasPET" class="btn btn-primary boton">Más información</a>
                    </div>
                </div>
            </div>

            <!-- Envases PEAD -->
            <div class="card tarjetaResiduo">
                <div class="fondoPEAD">
                    <img src="assets/images/PEAD.svg" class="card-img-top icono">
                    <div class="card-body text-center carta">
                        <h6 class="card-title" style="color: white;">Plástico: Envases PEAD</h6>
                        <a href="/informacion#EnvasesPEAD" class="btn btn-primary boton">Más información</a>
                    </div>
                </div>
            </div>
            <!-- <div class="card tarjetaResiduo fondoPEAD">
                <img src="assets/images/PEAD.svg" class="card-img-top icono">
                <div class="card-body text-center carta">
                    <h6 class="card-title" style="color: white;">Plástico: Envases PEAD</h6>
                    <a href="/informacion#EnvasesPEAD" class="btn btn-primary boton">Más información</a>
                </div>
            </div> -->

            <!-- Envases PEBD -->
            <div class="card tarjetaResiduo">
               <div class="fondoPEBD">
                   <img src="assets/images/PEBD.svg" class="card-img-top iconoPEBD">
                   <div class="card-body text-center carta">
                     <h6 class="card-title"  style="color: white;">Plástico: Envases PEBD</h6>
                     <a href="/informacion#EnvasesPEBD" class="btn btn-primary boton">Más información</a>
                   </div>
               </div>
            </div>

            <!-- <div class="card tarjetaResiduo fondoPEBD">
                <img src="assets/images/PEBD.svg" class="card-img-top iconoPEBD">
                <div class="card-body text-center carta">
                  <h6 class="card-title"  style="color: white;">Plástico: Envases PEBD</h6>
                  <a href="/informacion#EnvasesPEBD" class="btn btn-primary boton">Más información</a>
                </div>
            </div> -->

            <!--Cartón y papel -->
            <div class="card tarjetaResiduo">
                <div class="fondoCarton">
                    <img src="assets/images/Carton.svg" class="card-img-top icono">
                     <div class="card-body text-center carta">
                       <h6 class="card-title" style="color: white;">Cartón y papel</h6>
                       <a href="/informacion#CartonyPapel" class="btn btn-primary boton">Más información</a>
                     </div>
                </div>       
            </div>

            <!-- <div class="card tarjetaResiduo fondoCarton">
                <img src="assets/images/Carton.svg" class="card-img-top icono">
                 <div class="card-body text-center carta">
                   <h6 class="card-title" style="color: white;">Cartón y papel</h6>
                   <a href="/informacion#CartonyPapel" class="btn btn-primary boton">Más información</a>
                 </div>
             </div> -->

            <!-- Latas de aluminio -->
            <div class="card tarjetaResiduo">
                <div class="fondoLatas">
                    <img src="assets/images/Latas.svg" class="card-img-top icono">
                     <div class="card-body text-center carta">
                         <h6 class="card-title" style="color: white;">Latas de aluminio</h6>
                         <a href="/informacion#LatasyMetales" class="btn btn-primary boton">Más información</a>
                     </div>
                </div>
            </div>

            <!-- <div class="card tarjetaResiduo fondoLatas">
                <img src="assets/images/Latas.svg" class="card-img-top icono">
                 <div class="card-body text-center carta">
                     <h6 class="card-title" style="color: white;">Latas de aluminio</h6>
                     <a href="/informacion#LatasyMetales" class="btn btn-primary boton">Más información</a>
                 </div>
             </div> -->
    </div>
  </div>


  
  <!-- Nuestro Propósito -->  
  <div class="container" style="margin-top: 4rem;">
    <div class="row">
        <div class="text-center col-lg-12">
            <h1 class="titulo">Nuestro Propósito</h1>
        </div>
    </div>
    <div class="row" style="justify-content: center;">
        <div class="row col-lg-4 d-flex align-items-baseline">
            <div class="text-center prop">
               <img src="assets/images/Imagen2.jpg" class="img-fluid sombra">
            </div>
            <div class="text-center prop">
                <img src="assets/images/img/Medioambiente-portada.jpg" class="img-fluid sombra">
            </div>
        </div>
        <div class="row col-lg-4">
           <div class="text-center prop">
                <p class="texto2">Nuestro propósito es reducir el material reciclable dispuesto en rellenos sanitarios o mal dispuestos e ingresarlos a la economía circular.</p>
            </div>
            <div class="text-center prop">
                <p class="texto2">
                    Nos basamos en los Objetivos de Desarrollo Sostenible buscando garantizar modalidades de consumo y producción sostenibles reduciendo de aquí al 2030, considerablemente la generación de desechos mediante actividades de prevención, reducción, reciclado y reutilización.
                </p>
            </div>
        </div>
        <div class="row col-lg-4 d-flex align-items-baseline">
            <div class="text-center prop">
                <img src="assets/images/Imagen.jpg" class="img-fluid sombra">
            </div>
            <div class="text-center prop">
                <img src="assets/images/img/Medioambiente-portada.jpg" class="img-fluid sombra">
            </div>
        </div>
    </div>

  </div>




  <!-- Nuestro Desafío --> 
  <div class="cabecera2" style="margin-top: 4rem;">
      <div class="container">
        <div class="row">
            <div class="text-center col-lg-12">
                <h1 class="titulo">Nuestro Desafío</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="text-center textoDesafio">
                    <p class="texto2" style="color: white;">Crear conciencia sobre la importancia del reciclaje, ayudándoles a identificar materiales reciclables como materia prima para nuevos procesos productivos, dándole un valor a un recurso que se veía perdido.</p>
                </div>
            </div>

            <div class="offset-lg-6 col-lg-6">
                <div class="text-center textoDesafio">
                    <p class="texto2" style="color: white;">Buscamos acercar puntos limpios a la comunidad para potenciar el reciclaje local y fortalecer modelos de economía circular hacia un modelo de desarrollo sustentable.</p>
                </div>
            </div>
        </div>
      </div>
  </div>



 <!---INICIO SECCIÓN ECONOMIA CIRCULAR-->

<div class="container-fluid EconomiaCircular">
    <h1 class="tituloCircular">Economía Circular</h1>
    <div class="row ">
        <div class="col-lg-4 order-lg-2">
            <div ><img class="img-fluid" src="../../../assets/images/REP/circular3.png" alt="..." /></div>
        </div>
        <div class="col-lg-8 order-lg-1">
            
                <p class="muchoTextoCircular">La economía circular es un modelo de producción y 
                    consumo que garantiza un crecimiento sostenible en el tiempo. 
                    Con ella se promueve la optimización de recursos, la reducción 
                    en el consumo de materias primas y el aprovechamiento de los
                    residuos, reciclándolos o dándoles una nueva vida para convertirlo 
                    en nuevos productos, de esta forma, el ciclo de vida de los productos 
                    se extiende.
                </p>
        
                <h4 class="muchoTextoCircular">¿Por qué debemos cambiar hacia una economía circular?</h4>
                <p class="muchoTextoCircular" style="padding-top: 1%;">
                    Uno de los motivos para avanzar hacia una economía circular es el aumento de la demanda de materias primas y la <span class="escasez"><b>escasez de recursos</b></span>. Varias materias primas cruciales son finitas y, como la población mundial crece, la demanda también aumenta.

                    La extracción y el uso de materias primas tienen importantes consecuencias medioambientales, aumenta el consumo de energía y las emisiones de dióxido de carbono (CO2), mientras que un uso más inteligente de las materias primas puede reducir las emisiones contaminantes.
                </p>
            
        </div>
    </div>
</div> 

<!---INICIO SECCIÓN ECONOMIA CIRCULAR-->

<!---INICIO SECCION LEY REP-->
  <div class="container LeyRep">
    <div class="row">
        <div class="text-center col-lg-12">
            <h1 class="tituloCircular">Ley Rep</h1>
            <p class="muchoTexto  col-md-12">
                La Ley N° 20.920, Ley Marco para la Gestión de Residuos, 
                la Responsabilidad Extendida del Productor y Fomento al Reciclaje, o por sus siglas
                ley REP,  busca disminuir la generación de residuos y fomentar su reutilización, reciclaje y otro tipo de valorización.
                Con este fin, instaura la Responsabilidad Extendida del Productor, haciendo responsable al productor de los residuos que
                se generen a partir de sus productos, desde su generación hasta su valorización o eliminación.
            </p>
            <p class="muchoTexto2">
                La Ley establece diversos productos prioritarios, a los cuales se aplicará el régimen de la REP. Estos son: 
            </p>

        </div>
    </div>
    <div class="row" >
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/1_Aceite lubricante.png"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Aceites lubricantes</p> 
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/2_electronica.png"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Aparatos eléctricos y electrónicos</p>
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/3_Baterias.png"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Baterías</p>
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/4_Embalaje y envases.png"   style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Envases y embalajes</p>
            
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="FitIn img-fluid  rounded-circle" src="../../../assets/images/REP/5_Neumaticos.png"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Neumáticos</p>
        </div>
        <div class="text-center col-lg-2 col-md-4 col-sm-12">
            <img class="img-fluid  rounded-circle" src="../../../assets/images/REP/6_Pilas.png"  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);" />
            <p class="itemsREP">Pilas</p>
        </div>

    </div>

  </div>
  <!---FIN SECCION LEY REP-->


  <!---INICIO SECCION IMG LEY REP COMO FUNCIONA-->
  <div class="container-fluid comoFunciona">
    <h1 class="tituloCircular">¿Cómo funciona?</h1>
    
        <div class="row text-center" >
            <!-- <h1 class="tituloREP">¿Cómo funciona?</h1> -->
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-sm-12">

                
                    
                    
                
                <img src="../../../assets/images/REP/Diagrama_2.png" class="img-fluid  comoFuncionaImg">
            </div>
            <div class="col-lg-2"></div>
        </div> 
    
</div> 

  <!---FIN SECCION IMG LEY REP COMO FUNCIONA-->
  <div class="container Equipo">
    <h1 class="tituloCircular">Conoce a nuestro equipo</h1>
    <div class="col">
        <img src="../../../assets/images/REP/EQUIPO.png" class="img-fluid  comoFuncionaImg">

    </div>  

  </div>

  

 <!---INICIO SECCIÓN NUESTRO EQUIPO-->





  <!---FIN SECCIÓN NUESTRO EQUIPO-->

  
    <!-- SECCION FONDO RUTA RECICLEMOS-->

  <div class="fondoRuraReciclemos"></div>
  
  <button id="myBtn">
    <img src="assets/images/up-arrow.png" alt="alternative" />
  </button>

  <app-footer></app-footer>
  
