.tarjeta{
   padding-top: 5rem;
   padding-bottom: 3rem;
}


/**********************/
/*     Tarjeta 1     */
/**********************/
.tarjeta1{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 13rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    /*  transition: all 0.5s; */
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    
}

.boton1{
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.imagen{
    border-radius: 10px 10px 0px 0px;
}

.tarjeta1:hover{
    /* background-color:  #2f5bea; */
    transform: rotateY(180deg);

}

.cara {
    position: absolute;
    backface-visibility: hidden;
}
  
.cara.detras {
    transform: rotateY(180deg);
}


/**********************/
/*     Tarjeta 2     */
/**********************/
.tarjeta2{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 13rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
     transition: all 0.5s;
    
}

.boton2{
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.tarjeta2:hover{
    background-color:  #2f5bea;
    transform: translateY(-10px);

}

.tarjeta2:hover .boton2 {
    background-color: white;
	color: #0092ff;
	text-decoration: none;
}

.tarjeta2:hover .material{
    color: white;
}

.tarjeta2:hover .icono{
   /*  filter: opacity(0.1) drop-shadow(0 0 0 white);  */
    filter: hue-rotate(90deg)
}


/**********************/
/*     Tarjeta 3     */
/**********************/
.tarjeta3{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 13rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
    
}

.boton3{
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.tarjeta3:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 0%;
    transition: all 3s ease-in-out;
 
}

.tarjeta3:hover{
    /* transform: translateY(-10px); */
    background-color:  #2f5bea;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 13rem;
}

.tarjeta3:hover .boton3 {
    background-color: white;
	color: #0092ff;
	text-decoration: none;

}

.tarjeta3:hover .material{
    color: white;
}

.tarjeta3:hover .icono{
   /*  filter: opacity(0.1) drop-shadow(0 0 0 white);  */
    filter: hue-rotate(90deg)
}

/**********************/
/*     Tarjeta 4     */
/**********************/
.tarjeta4{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 13rem;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
     transition: all 0.5s;
    
}

.boton4{
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.5rem;
    transition: all 0.5s;
}

.boton4:hover {
	background-color: transparent;
	color: #0092ff;
	text-decoration: none;
}


/* .tarjeta1:hover{
    
    background-color:  #3D0066;
}

.boton1:hover{
    background-color: transparent;
	color: #0092ff;
	text-decoration: none;
} */




/* .tarjeta2{
    margin-right: auto;
    margin-left: auto;
    margin-bottom:  1rem;
    border-radius: 10px;
    width: 13rem;
    box-shadow: 0 4px 20px -1px rgba(0, 0, 0, 0.1);
}

.tarjeta3{
    margin-right: auto;
    margin-left: auto;
    margin-bottom:  1rem;
    border-radius: 10px;
    width: 13rem;
} */

/**********************/
/*     Tarjeta 5     */
/**********************/
.tarjeta5{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    width: 13rem;
    background: url("../../../assets/images/img/latas.jpg") center center no-repeat;
    background-size: cover;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    /* transform-style: preserve-3d; */
    transition: all 0.5s linear;
    /* transition: opacity 0.5s linear; */
   /*  display: block;
    position: relative; */
    /* background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(/image.png);
    background-repeat: no-repeat;  
    background-position: center; */
}

.boton5{
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.carta5{
    transition: all 0.5s linear;
    transform: translateY(200px);
    opacity: 0;
}

/* .tarjeta5:after {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    opacity: 0.6;
}
 */
.tarjeta5:hover{
    transform: translateY(20px);
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../../assets/images/img/latas.jpg");
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;
    /* background-image: image(); */
    /* opacity: 0.9; */
   /*  background: rgba(0, 0, 0, 0.6);
   
    */
    
}

.tarjeta5:hover .carta5{
    transform: translateY(180px);
    opacity: 1;
}

/* .tarjeta5:hover .material5{
    transform: translateY(180px);
    opacity: 1;
} */
/* .cara5 {
    position: absolute;
    backface-visibility: hidden;
}
  
.cara5.detras5{
    transform: translateY(30px);
}
 */
/* .boton5:hover {
	background-color: transparent;
	color: #0092ff;
	text-decoration: none;
} */

/**********************/
/**********************/

.contenedor{
    display: flex;
    align-items: center;
   

}

.titulo{
    font-size: 3.25rem;
    margin-bottom: 2rem;
    color: #8cc63f
}

.texto1{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: center;
    color: white;
}

.texto2{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

a{
    text-decoration: none;
}

/* .boton1{
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.5rem;
    transition: all 0.2s;
} */

/* .boton2{
    font-weight: 800;
    font-size: 0.9rem;
}

.boton3{
    font-size: 0.9rem;
}
 */


.cabecera {
	padding-top: 8rem;
	padding-bottom: 18.1em;
	background: url("../../../assets/images/Imagen2.jpg") center center no-repeat;
	background-size: cover;
	text-align: center;
}

/* .animacion {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
} */

/* .boton1:hover {
	background-color: transparent;
	color: #0092ff;
	text-decoration: none;
} */