

.tarjetas{
   padding-top: 5rem;
   padding-bottom: 3rem;
}

/**********************/
/*     Tarjeta PET    */
/**********************/

/* .fondoPET{
    background: url("../../../assets/images/img/PET.jpg") center center no-repeat;
  /*  background: linear-gradient( rgb(230, 208, 11), rgba(230, 208, 11) ) center center no-repeat; */
/* } */

/*.fondoPET:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../../assets/images/img/PET.jpg");
    background-repeat: no-repeat;  
    background-position: center;
    background-size: cover;  
} */

.fondoPET{
    background: url("../../../assets/images/img/PET.png") center center no-repeat;
    border-radius: 10px;
 /*    background-size: cover; */
    /* transform:scale(1.1); */
}

.fondoPET:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../../assets/images/img/PET.png");
    background-repeat: no-repeat;  
    background-position: center;
    border-radius: 10px;
  /*   background-size: cover;   */
}


/**********************/
/*    Tarjeta PEAD    */
/**********************/

.fondoPEAD{
    background: url("../../../assets/images/img/PEAD.png") center center no-repeat;
    border-radius: 10px;

}

.fondoPEAD:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../../assets/images/img/PEAD.png");
    background-repeat: no-repeat;  
    background-position: center;
    /* background-size: cover;  */ 
    border-radius: 10px;
}

/**********************/
/*    Tarjeta PEBD    */
/**********************/

.fondoPEBD{
    background: url("../../../assets/images/img/PEBD.png") center center no-repeat;
    border-radius: 10px;

}

.fondoPEBD:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../../assets/images/img/PEBD.png");
    background-repeat: no-repeat;  
    background-position: center;
    /* background-size: cover;  */ 
    border-radius: 10px;
}
/**********************/
/*   Tarjeta Carton   */
/**********************/

.fondoCarton{
    background: url("../../../assets/images/img/PAPELES CARTONES.png") center center no-repeat;
    border-radius: 10px;

}

.fondoCarton:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../../assets/images/img/PAPELES CARTONES.png");
    background-repeat: no-repeat;  
    background-position: center;
    /* background-size: cover;  */
    border-radius: 10px; 
}

/**********************/
/*   Tarjeta Latas    */
/**********************/

.fondoLatas{
    background: url("../../../assets/images/img/LATAS.png") center center no-repeat;
    border-radius: 10px;

}

.fondoLatas:hover{
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("../../../assets/images/img/LATAS.png");
    background-repeat: no-repeat;  
    background-position: center;
  /*   background-size: cover;   */
    border-radius: 10px;
}


/**********************/
/* Tarjetas Residuos  */
/**********************/

.tarjetaResiduo{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    border-radius: 10px;
    width: 13rem;
    /* height: 19.5rem; */
    background-size: cover;
    box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
    transition: all 0.8s linear;
}

.boton{
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: #fff;
	background-color: #7934f3;
	border-color: #7934f3;
}

.boton:hover {
	  color: #fff;
	  background-color: #6a27e0;
	  border-color: #6a27e0;
}
  
.boton.focus,
.boton:focus {
  box-shadow: none;
}
  
.boton.disabled,
.boton:disabled {
	color: #fff;
  background-color: #6a27e0;
	border-color: #6a27e0;
}

.carta{
    transition: all 0.5s linear;
    transform: translateY(20px);
    opacity: 0;
}

.icono{
    height: 15rem;
    padding: 3.5rem;
    transition: all 0.5s linear;
    transform: translateY(-20px);
    opacity: 0;
}

.iconoPEBD{
    height: 15rem;
    padding: 1.5rem;
    transition: all 0.5s linear;
    transform: translateY(-20px);
    opacity: 0;
}

.imagen{
    opacity: 0;
}

.tarjetaResiduo:hover{
    transform: translateY(20px);  
}

.tarjetaResiduo:hover .carta{
    transform: translateY(-20px);
    opacity: 1;
}

.tarjetaResiduo:hover .icono{
    transform: translateY(20px);
    opacity: 1;
}

.tarjetaResiduo:hover .iconoPEBD{
    transform: translateY(20px);
    opacity: 1;
}


/**********************/
/**********************/

.titulo{
    font-size: 3.25rem;
    margin-bottom: 1rem;
    /* color: #8cc63f */
}

.tituloDesafio{
    font-size: 3.35rem;
    margin-bottom: 1rem;
    color: white;
    font-weight: bold;
}

.texto1{
    font-size: 2.25rem;
    margin-bottom: 1.25rem;
    text-align: left;
    line-height :1.2em;
    /* color: #223150; */
    color: white;
    text-align: justify;
    /* font-family:  sans-serif; */
}

.texto2{
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: justify;
    font-family: 'gilroy-light'; 
}

.texto4{
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    text-align: justify;
    color: white;
    font-family: 'gilroy-light'; 
    font-weight: bold;

}

a{
    text-decoration: none;
}

.cabecera {
	padding-top: 8rem;
	padding-bottom: 18.1em;
	background: url("../../../assets/images/Imagen3.png") center center no-repeat;
	background-size: cover;
	text-align: center;
}


.fondoRuraReciclemos{
    padding-top: 0rem;
    padding-bottom: 5em;
    background: url("../../../assets/images/Fondo_Ciudad.png") center center no-repeat;
    background-size: cover;
    text-align: center;
}

@media (min-width: 576px) {
    .fondoRuraReciclemos{
        padding-top: 0rem;
        padding-bottom: 15em;
        background: url("../../../assets/images/Fondo_Ciudad.png") center center no-repeat;
        background-size: cover;
        text-align: center;
    }
}

.sombra {
	box-shadow: 0em 0em 2em rgba(30, 30, 31, 0.4);
    /* box-shadow: 0 5px 18px #c3c3c3; */
}

.texto3{
    font-size: 1rem;
    text-align: justify;
    color: #5e6576; 
    font-family: sans-serif;
}

.contenedor{
    margin-top: 0rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.text-center{
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.prop .texto2{
   /*  font-size: 1.25rem; */
    margin-top: 0.7rem;
    margin-bottom: 0rem;
}

.textoDesafio{
    margin-bottom: 3.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.imagenProposito {
    width: 22rem;
    height: 12rem;
}

@media (min-width: 992px) and (max-width: 1199px){
    .imagenProposito {
        width: 18rem;
        height: 16rem;
    }
}

/* .contenedorImg{
    padding-left: 1rem;
    padding-right: 1rem;
} */

.cabecera2 {
	padding-top: 3rem;
	padding-bottom: 1rem;
    width: 100%;
    /* height: 100%; */
   /*  padding-top: 1rem; */
	background: url("../../../assets/images/nuestro_desafio_fondo.png") center center no-repeat;
	background-size: cover;
	text-align: center;
}

/* INICIO FOOOOTER*/

.footere{
    background-color: black;
    padding-bottom: 5%;
    color: white;
  }
  
  .plain{
    list-style-type: none;
    padding-left: 0;
    color: white;
    
    
  }
  
  .ul{
    list-style: disc;
    padding-left: 2em;
  }
  
  
  .hacheRef{
    text-decoration: none; 
    color: white;
    padding-top: 5%;
    padding-bottom: 1 rem;
  }
  
  /* FIN FOOOOTER*/

/* .animacion {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 1px solid #0092ff;
	border-radius: 30px;
	background-color: #0092ff;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
} */

/* .boton1:hover {
	background-color: transparent;
	color: #0092ff;
	text-decoration: none;
} */

 
  /*INICIO CSS PARA SECCION LEY REP*/
  .LeyRep{
    margin-top: 2rem;

  }

  .muchoTexto{
      text-align: justify;
      padding-top: 1em;
      padding-left: 6%;
      padding-right: 6%;
      font-family: 'gilroy-light'; 
  }

  .muchoTexto2{
    text-align: justify;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 3%;
    font-family: 'gilroy-light'; 
}

.itemsREP{
    text-align: center;
    color: #000;
    padding-top: 1em;
}

.comoFunciona {
   
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #0ba7731c
}

.tituloREP{
    /* font-size: 3.25rem; */
    
    color: #223150;
    font-size: xx-large;
}

.comoFuncionaImg{
    object-fit: contain;
    /* width: auto;
    height: 50%; */
    /* padding-bottom: 10%; */
    width: 100%;
    height: 100%;

}




  /*FIN CSS PARA SECCION LEY REP*/



  /*  INICIO CSS PARA SECCION ECONOMIA CIRCULAR*/
.EconomiaCircular{
    /* padding-top: 2rem;
    padding-bottom: 1em;
    /* width: 100%;
    height: 100% ;    */
    background-color: #0ba7731c;
    padding-bottom: 3em;
}

.tituloCircular{
    padding-top: 3rem;
    font-size: 3.25rem;
    margin-bottom: 1rem;
    color: #223150;
    text-align: center;
}

.muchoTextoCircular{
    text-align: justify;
    /* padding-top: 1em; */
    padding-left: 6%;
    padding-right: 6%;
    font-family: 'gilroy-light'; 
}

.escasez{
    font-style: oblique;
    color: #000;
}


 /*   FIN CSS PARA SECCION ECONOMIA CIRCULAR*/


 /*INICIO CSS PARA EQUIPO*/
 .Equipo{
    padding-top: 2rem;
    padding-bottom: 4rem;

 }

 /*FIN CSS PARA EQUIPO*/
 .helpLi{
    list-style-image: url("../../../favicon.ico");
    

 }

 /* li{
    list-style: none;
 }
 li:before{
    content: '';
    display: inline-block;
    height: y;
    width: x;
    background-image: url("../../../favicon.ico");
 } */
