<body id="page-top">
<nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation" 
style="background-color: white;">
    <div class="container">
  
      
      
        <a class="navbar-brand" href="#" ><img src="../../../assets/images/Ruta-Reciclemos-logo.png"
            style="
                height:14%;
                width: 14%;
                object-fit: contain;" 
            class="d-inline-block align-top" alt="">
           
        </a> 
  
        <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ms-auto navbar-nav-scroll">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/nosotros">NOSOTROS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="/informacion" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">EDUCACIÓN AMBIENTAL</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <li><a class="dropdown-item" href="/informacion#BotellasPET">Plástico: Botellas PET</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="/informacion#EnvasesPEAD">Plástico: Envases PEAD</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="/informacion#EnvasesPEBD">Plástico: Envases PEBD</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="/informacion#CartonyPapel">Cartón y papel</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a class="dropdown-item" href="/informacion#LatasyMetales">Latas de aluminio</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#details">PRODUCTOS</a>
                </li>
                <li class="nav-item">
                    <button class="btn"><i class="fa-solid fa-circle-user fa-lg"></i></button>
                </li>
                
                
                
            </ul>
            <!-- <span class="nav-item">
                <button class="btn"><i class="fa-solid fa-circle-user "></i></button>
            </span> -->
        </div> 
    </div> 
  </nav>

  <!---COMIENZO DEL CUERP0-->
  <!-- Header-->
  <section id="scroll">
    <div class="container" style="padding-top:5%;background-color:cadetblue">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid square" src="../../../assets/images/img/01.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">ESta parte no ira asi xd </h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section> 
  
    


<!-- Content section 1 1.-Plástico: Botellas PET -->
<section id="BotellasPET">
    <div class="container px-5" >
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../../../assets/images/img/01.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Botellas PET</h2>
                    <h3>Polietileno tereftalato</h3>
                    <p style="text-align: justify;"> Este tipo de plástico corresponde a botellas desechables para bebidas, bandejas de torta, contenedores de fruta (envases clamshell). Al reciclarlo se convierte en fibras para relleno de sacos de dormir, alfombras, cuerdas y almohadas, zunchos.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 2 2.-Plástico: Envases PEAD-->
<section id="EnvasesPEAD">
    <div class="container px-5" style="background-color: beige;">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../../../assets/images/img/02.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Envases PEAD</h2>
                    <h3>Polietileno de alta densidad</h3>
                    <p style="text-align: justify;">Se utiliza en envases de detergente, champús, bidones, envases de leche etc. Al reciclarlo se convierte en maceteros, contenedores de basura y botellas de detergente.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section 3 3.-Plástico: Envases PEBD -->
<section id="EnvasesPEBD">
    <div class="container px-5" >
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../../../assets/images/img/03.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Envases PEBD </h2>
                    <h3>Polietileno de baja densidad</h3>
                    <p style="text-align: justify;">Se fabrica principalmente bolsas y plástico para envolver. Luego de ser recicladas se convierten en bolsas de supermercado nuevamente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Content section  4.-Cartón y papel  -->
<section id="CartonyPapel">
    <div class="container px-5" style="background-color: beige;">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../../../assets/images/img/02.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Cartón y papel</h2>
                    <p style="text-align: justify;">Todos los tipos de papeles están compuestos principalmente de celulosa y agua. Al reciclarlo se busca recuperar el mayor porcentaje de celulosa para fabricar otros productos. Dada la gran variedad de tipos de este residuo, se debe tener cautela al separarlos, teniendo especial cuidado de que no estén contaminados con restos de comida, materia orgánica o cinta adhesiva.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Content section 5.-Latas de aluminio -->
<section id="LatasyMetales">
    <div class="container px-5" >
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="../../../assets/images/img/03.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Latas y metales</h2>
                    <p style="text-align: justify;">Esta fracción de residuos se pueden recuperar infinitas veces y en un 100%. De esta forma reciclar metales como aluminio, cobre, acero, entre otros, resulta un proceso bastante simple en comparación al proceso que significa extraerlos a partir de su origen, proceso que genera un alto impacto en el medio ambiente y consume grandes cantidades de energía.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-black" style="background-color: black;">
    <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
<footer class="py-5 bg-black">
    <div class="container px-5"><p class="m-0 text-center text-white small">Copyright &copy; Your Website 2022</p></div>
</footer>

  <!---FIN DEL CUERP0-->

