.BotellasPET{
    padding-top: 6em;
    margin-bottom: 2em;
    /* background-color: #580491 ; */
    background-color: rgba(84, 3, 150, 0.096); 
}



.EnvasesPEAD{
  padding-top: 3em;
  margin-bottom: 2em;  
}

.EnvasesPEBD{
  padding-top: 5em;
  background-color: rgba(84, 3, 150, 0.096);   
}

.CartonyPapel{
  padding-top: 5em;  
}


.LatasyMetales{
    background-color: rgba(84, 3, 150, 0.096);
  padding-top: 5em;
  padding-bottom: 2em;  
  
}

/* INICIO FOOOOTER*/

.footer{
  background-color: black;
  padding-bottom: 5%;
  color: white;
}

.plain{
  list-style-type: none;
  padding-left: 0;
  color: white;
  
  
}

.ul{
  list-style: disc;
  padding-left: 2em;
}


.hacheRef{
  text-decoration: none; 
  color: white;
  padding-top: 5%;
  padding-bottom: 1 rem;
}

/* FIN FOOOOTER*/

/*LATAS Y METALES TRANSICIION*/
.textieFront{
  transform-style: preserve-3d;
  transition: all 0.5s linear;
  
}

.textieFront:hover{
  transform: rotateY(180deg);

}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara.detras {
  transform: rotateY(180deg);
}

/*LATAS Y METALES TRANSICIION*/

.eyes:hover{
  color: rgb(100, 64, 228);
}