.BotellasPET{
    padding-top: 4em;
    padding-bottom: 2em;
    /* background-color: #580491 ; */
    background-color: rgba(84, 3, 150, 0.096);
    /* background-size: cover; */
    /* width: 93vw;
    height: 100vh;  */
}

.vody{
  background-color: rgba(84, 3, 150, 0.096);
}



.EnvasesPEAD{
  padding-top: 3em;
  margin-bottom: 2em;  
}

.EnvasesPEBD{
  padding-top: 5em;
  background-color: rgba(84, 3, 150, 0.096); 
  padding-bottom: 2em;  
}

.CartonyPapel{
  padding-top: 5em;
  padding-bottom: 2em;  
}


.LatasyMetales{
  background-color: rgba(84, 3, 150, 0.096);
  padding-top: 5em;
  padding-bottom: 2em;  
  
}

/* INICIO FOOOOTER*/

.footere{
  background-color: black;
  padding-bottom: 5%;
  color: white;
  
  
}

.plain{
  list-style-type: none;
  padding-left: 0;
  color: white;
  
  
}

.ul{
  list-style: disc; 
   padding-left: 2em;
}


.hacheRef{
  text-decoration: none; 
  color: white;
  padding-top: 5%;
  padding-bottom: 1 rem;
}

/* FIN FOOOOTER*/



.eyes:hover{
  color: rgb(100, 64, 228);
}

.flecha{
  width: 70%;
  height: 70%;
  /* margin-left: -10%;
  margin-right:-10% ; */

}

.GaleriaInfo{
  padding-top: 8%;
  padding-bottom: 3%;
}

.UnitGaleria:hover{
  transform: scale(1.1);
  /* background-color: rgba(107, 106, 104, 0.178); */
  filter: grayscale(70%);
}

