<!-- Doughnut chart-->
<div class="col-lg-12 col-xl-12" [hidden]="desactivado">
    <div class="card">
        <div class="card-header text-uppercase">Género por total de kilos reciclados</div>
        <div class="card-body">
            <button class="btn btn-success" (click)="generateExcelGenero()"><i class="fa-solid fa-file-excel"></i> Descargar</button>
            <div class="canvas-container">
                <div class="w-75">
                    <div id="chart-genero"></div>
                    <!-- <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [options]="doughnutChartOptions" [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" [colors]="doughnutChartColors" (chartClick)="chartClicked($event)"></canvas> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Doughnut chart-->

<div [hidden]="excelGenero">
    <table id="genero-table">
        <tr style="background-color: rgb(231, 213, 46) ;">
			<th>Genero/ Residuo</th>
			<th>PET (Tons)</th>
			<th>PEAD (Tons)</th>
			<th>PEBD (Tons)</th>
			<th>Papel/Cartón (Tons)</th>
			<th>Aluminio (Tons)</th>
			<th>Total (Tons)</th>
		</tr>
        
        <tr>
            <td>Femenino</td>
            <td>{{Fpet}}</td>
            <td>{{Fpead}}</td>
            <td>{{Fpebd}}</td>
            <td>{{Fcarton}}</td>
            <td>{{Faluminio}}</td>
            <td>{{Femenino}}</td>
        </tr>

        <tr>
            <td>Masculino</td>
            <td>{{Mpet}}</td>
            <td>{{Mpead}}</td>
            <td>{{Mpebd}}</td>
            <td>{{Mcarton}}</td>
            <td>{{Maluminio}}</td>
            <td>{{Masculino}}</td>
        </tr>

        <tr>
            <td>No especifica</td>
            <td>{{NNpet}}</td>
            <td>{{NNpead}}</td>
            <td>{{NNpebd}}</td>
            <td>{{NNcarton}}</td>
            <td>{{NNaluminio}}</td>
            <td>{{No_especifica}}</td>
        </tr>


    </table>
</div>
