<app-menu ></app-menu>
  
  <header class="cabecera">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <div class="text-container" style="margin-top: 1.5rem; margin-bottom: 1rem;">
                <h1 class="h1-large">Una plataforma que te ayuda a cuidar al medio ambiente</h1>
                <p class="p-large" style="font-family:  sans-serif;color:green;">Unete a nuestro equipo y luchemos juntos por un desarrollo sustentable
                  en donde junto a la comunidad generemos un cambio en nuestro estilo de vida y en el de nuestros cercanos
                </p>
                <a style="width: 50%;margin-top:10%;" class="btn btn-primary boton" href="#services">ÚNETE AQUÍ</a>
              </div>
            </div> 
            <div class="col-lg-6">
                <div class="text-center"> 
                  <img class="img-fluid" style="width: 90%;" src="assets/images/Mockup2.png"/>
                </div> 
            </div> 
        </div> 
    </div> 
  </header> 
  
  <div class="contenedor">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h2 class="text-center">Cantidad de desechos gestionados gracias a Ruta Reciclemos</h2>
            </div>
        </div>
        <div class="row g-0">

          <div class="col-lg-6 bloque">
            <div class="card tarjeta offset-1 offset-lg-4">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/PET.jpg" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">1.233,2</h1>
                    <p class="col-3 textTarjeta"><small>KG</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Botellas PET</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div> 
            
          <div class="col-lg-6 bloque">
            <div class="card tarjeta offset-1 offset-sm-0">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/PEAD.jpg" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">1.233,2</h1>
                    <p class="col-3 textTarjeta"><small>KG</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Envases PEAD</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 bloque">
            <div class="card tarjeta offset-1 offset-lg-4">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/PEBD.jpg" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">1.233,2</h1>
                    <p class="col-3 textTarjeta"><small>KG</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Envases PEBD</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 bloque">
            <div class="card tarjeta offset-1 offset-sm-0">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/carton.jpg" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">1.233,2</h1>
                    <p class="col-3 textTarjeta"><small>KG</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Cartón y Papel</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 bloque">
            <div class="card tarjeta offset-1 offset-lg-4">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/latas.jpg" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">1.233,2</h1>
                    <p class="col-3 textTarjeta"><small>KG</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Latas de aluminio</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
    <!---INICIO SECCION TRAZABILIDAD-->
    <div class="container Trazabilidad">
      
      
          <div class="row trazabilidadBG"  >
            
              <!-- <h1 class="tituloREP">¿Cómo funciona?</h1> -->
              <div class="col-lg-6 col-sm-12 px-5 TrazabilidadTexto">
                <h1 class="text-center">Trazabilidad </h1>
                <p class="try33">Contamos con un sistema digital que monitorea tus desechos desde su recolección hasta su 
                  <span class="reutilización">reutilización <i class="fa-solid fa-recycle"></i></span>, generando una trazabilidad
                  sobre los productos y disminuyendo de esta forma, el impacto ambiental de éstos. 
                  </p>
              </div>
              <div class="col-lg-6 col-sm-12">
                
                <img src="../../../assets/images/Trazabilidad.png" class="img-fluid square trazabilidadIMG" >
              </div>
              
             
          </div> 
      
  </div> 
  
    <!---FIN SECCION TRAZABILIDAD-->

    
  <!-- SECCION Fondo de prueba-->

    <div class="fondoTemporal">

    </div>

  
  
  <button id="myBtn">
    <img src="assets/images/up-arrow.png" alt="alternative" />
  </button>
  
<!-- Footer-->
<app-footer></app-footer>