.bloque{
  /* margin-right: auto;
  margin-left: auto; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.imagen{
  transform:scale(1.5);
}

.imagen2:hover{
  transform:scale(1.5);
}

.tarjeta{
  width: 18rem;
  height: 6.075rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 60px;
  box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.1);
}


.textTarjeta{
  display: flex;
  align-items: center;
  margin: 0rem;
  padding: 0rem;
}

.centrado{
  /* margin-right: auto;
  margin-left: auto; */
  display: flex;
  align-items: center;
}

.titulo{
  margin: 0rem;
  padding: 0rem;
  display: flex;
  justify-content: flex-end;
  /* font-size: 3.25rem;
  margin-bottom: 2rem;
  color: #8cc63f */
}
/* 
.texto1{
  font-size: 2.25rem;
  margin-bottom: 1.25rem;
}
 */
.cabecera {
	padding-top: 8rem;
	padding-bottom: 2em;
	background-color: #0ba7731c;
	background-size: cover;
	text-align: center;
}

.fondoTemporal{
  padding-top: 0rem;
  padding-bottom: 5rem;
  background: url("../../../assets/images/Fondo_Ciudad.png") center center no-repeat;
  background-size: cover;
  text-align: center;
}

@media (min-width: 576px) {
  .fondoTemporal{
    padding-top: 0rem;
    padding-bottom: 15rem;
    background: url("../../../assets/images/Fondo_Ciudad.png") center center no-repeat;
    background-size: cover;
    text-align: center;
  }

}


/* .fondoTemporal{
  padding-top: 8rem;
  padding-bottom: 24em;
  background: url("../../../assets/images/header-background.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
} */

.card-body {
	padding: 0rem;
}

.boton{
  font-weight: 800;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-family:  sans-serif;
  /* color: #5c0099; */
  /* color: #3d0066; */
  color: white;
  background-color: #8cc63f;
  border: #8cc63f;
  transition: all .5 linear;
}

.boton:hover{
 /*  background: linear-gradient(0.25turn,#8cc63f, #6db116 ); */
  background: linear-gradient(0.25turn,#8cc63f, #63ad03 );
 /*  color: white; */
  /* box-shadow: 0em 0em 2em rgba(30, 30, 31, 0.4); */
  box-shadow: 0em 0em 2em rgba(140, 198, 63, 1);
  /* box-shadow: 0em 0em 2em rgba(92, 0, 153, 1); */
  /* box-shadow: 0em 0em 2em rgba(61, 0, 102, 1); */
  /* color: #3d0066; */
  
}

.boton2{
  font-weight: 800;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-family:  sans-serif;
  /* color: #5c0099; */
  /* color: #3d0066; */
  color: white;
  background-color: #3d0066;
  border: #8cc63f;
  transition: all .5 linear;
}

.boton2:hover{
 /*  background: linear-gradient(0.25turn,#8cc63f, #6db116 ); */
  background: linear-gradient(0.25turn,#5c0099, #3d0066 );
 /*  color: white; */
  /* box-shadow: 0em 0em 2em rgba(30, 30, 31, 0.4); */
  box-shadow: 0em 0em 2em rgba(61, 0, 102, 1);
  /* box-shadow: 0em 0em 2em rgba(92, 0, 153, 1); */
  /* box-shadow: 0em 0em 2em rgba(61, 0, 102, 1); */
  /* color: #3d0066; */
  
}

a{
  text-decoration: none;
}

.contenedor{
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* .numeros {
	margin: 0rem;
  padding: 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */
/* 
h1{
  margin: 0rem;
  padding: 0rem;
  display: flex;
  justify-content: flex-end;
} */


/* p{
  display: flex;
  align-items: center;
  margin: 0rem;
  padding: 0rem;
}
 */

/* INICIO FOOOOTER*/

.footere{
    background-color: black;
    padding-bottom: 5%;
    color: white;
    
    
  }
  
  .plain{
    list-style-type: none;
    padding-left: 0;
    color: white;
    
    
  }
  
  .ul{
    list-style: disc; 
     padding-left: 2em;
  }
  
  
  .hacheRef{
    text-decoration: none; 
    color: white;
    padding-top: 5%;
    padding-bottom: 1 rem;
  }
  
  /* FIN FOOOOTER*/


  /*INICIO CSS PARA TRAZABILIDAD*/
  .Trazabilidad{
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  
  .trazabilidadBG{
    background-color: #7842a51c;
    box-shadow: 0 0 1em rgba(199, 63, 138, 0.342);
    border-radius: 1.5%;
    /* border: 1px solid; */
    padding-bottom: 4rem;
  }

  .trazabilidadIMG{
    border: 1px solid;
    background-color:#3fe3ac0c;
    border-radius: 5%;
    margin-top: 3rem;
    margin-right: 5%;
    box-shadow: 0 0 1em rgba(199, 63, 138, 0.342);
  }

  .TrazabilidadTexto{
    padding-top: 4%;
    font-family:  sans-serif;
    color: #000;
    text-align: justify;
  }
  .reutilización{
    color: green;
    font-weight: bolder;
  }

  /* .try33{
    border: 1px solid;
    background-color:white;
    border-radius: 4%;
    margin-top: 3rem; 
    margin-right: 5%;
    box-shadow: 0 0 1em rgba(199, 63, 138, 0.342);
    padding-left: 3%;
    padding-right: 3%;

  } */
  
  
  
    /*FIN CSS PARA TRAZABILIDAD*/