<app-menu></app-menu>
  
  <header class="cabecera">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <div class="text-container" style="margin-top: 1.5rem; margin-bottom: 1rem;">
                <h1 class="h1-large">Una plataforma que te ayuda a cuidar el medio ambiente.</h1>
                <p class="p-large">
                  Únete a nuestro equipo y se parte de nuestra comunidad sostenible, mediante la segregación 
                  y buen manejo de residuos reciclables. Evita que tus “responsabilidades” lleguen al relleno sanitario.
                </p>
                <p class="p-large">Para cambiar el mundo, primero hagámoslo nosotros.</p>
                <a style="width: 50%;margin-top:10%;" class="btn btn-primary boton" href="https://play.google.com/store/apps/details?id=com.puntolimpio.punto_limpio" target="_blank">ÚNETE AQUÍ</a>
              </div>
            </div> 
            <div class="col-lg-6">
                <div class="text-center"> 
                  <img class="img-fluid" style="width: 90%;" src="assets/images/Mockup2.png"/>
                </div> 
            </div> 
        </div> 
    </div> 
  </header> 
  
  <div class="contenedor">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <h3 class="text-center">Cantidad de residuos reciclables gestionados gracias a tus cambios de hábitos en el año</h3>
            </div>
        </div>
        <div class="row g-0" style="display: flex; justify-content: center;">

          <div class="col-lg-6 bloque">
            <div class="card tarjeta offset-1 offset-lg-5">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/PET.png" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">{{pet.valor}}</h1>
                    <p class="col-3 textTarjeta"><small>{{pet.tipo}}</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Botellas PET</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div> 
            
          <div class="col-lg-6 bloque">
            <div class="card tarjeta offset-1 offset-sm-1">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/PEAD.png" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">{{pead.valor}}</h1>
                    <p class="col-3 textTarjeta"><small>{{pead.tipo}}</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Envases PEAD</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 bloque">
            <div class="card tarjeta offset-1 offset-lg-5">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/PEBD.png" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">{{pebd.valor}}</h1>
                    <p class="col-3 textTarjeta"><small>{{pebd.tipo}}</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Envases PEBD</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 bloque">
            <div class="card tarjeta offset-1 offset-sm-1">
              <div class="row g-0">
                <div class="col-4">
                  <img src="assets/images/img/PAPELES CARTONES.png" class="img-fluid rounded-circle imagen">
                </div>
                <div class="col-8 centrado">
                  <div class="row card-body">
                    <h1 class="card-title titulo col-9">{{carton.valor}}</h1>
                    <p class="col-3 textTarjeta"><small>{{carton.tipo}}</small></p>
                    <p class="textTarjeta" style="justify-content: center;"><small>Total Cartón y Papel</small></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12 bloque">
            <div class="col-lg-6">
              <div class="card tarjeta offset-1 offset-lg-9">
                <div class="row g-0">
                  <div class="col-4">
                    <img src="assets/images/img/LATAS.png" class="img-fluid rounded-circle imagen">
                  </div>
                  <div class="col-8 centrado">
                    <div class="row card-body">
                      <h1 class="card-title titulo col-9">{{latas.valor}}</h1>
                      <p class="col-3 textTarjeta"><small>{{latas.tipo}}</small></p>
                      <p class="textTarjeta" style="justify-content: center;"><small>Total Latas de aluminio</small></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <!---INICIO SECCION TRAZABILIDAD-->
  <div class="trazabilidadBG">
    <div class="container Trazabilidad">   
      <div class="row"> 
        <div class="col-lg-6 col-sm-12 px-5 TrazabilidadTexto">
          <h1 class="text-center">Trazabilidad </h1>
          <p class="textoApareceTarjeta">Contamos con un sistema digital que monitorea tus residuos desde su recolección hasta su  
            <span class="reutilización">reciclaje <i class="fa-solid fa-recycle"></i></span>, logrando la trazabilidad 
            de los residuos reciclables recolectados y disminuyendo así el impacto ambiental que estos generan. 
          </p>

          <div *ngIf="mostrarImagen">
            <div class="card apareceTarjeta col-12">
              <div class="card-body text-center">
                <img class="img-fluid" style="width: 50%;" src="../../../assets/images/Ruta_Reciclemos_200x100-8.png"/>
              </div>
            </div>
          </div>

         <!--  <div class="col-lg-6">
            <div class="text-center"> 
              <img class="img-fluid" style="width: 90%;" src="assets/images/Mockup2.png"/>
            </div> 
        </div> -->
  
          <div *ngIf="mostrarTexto1">
            <div class="card apareceTarjeta col-12">
              <div class="card-body" style="padding: 1rem;">
                <p class="textoApareceTarjeta">Solicita tu servicio de retiro “Quiero Reciclar” e indica el peso aproximado.</p>
              </div>
            </div>
          </div>
  
          <div *ngIf="mostrarTexto2">
            <div class="card apareceTarjeta col-12">
              <div class="card-body" style="padding: 1rem;">
                <p class="textoApareceTarjeta">Cada vez que recepcionemos tus residuos serán pesados y toda la información ingresará a nuestro sistema de gestión.</p>
              </div>
            </div>
          </div>
  
          <div *ngIf="mostrarTexto3">
            <div class="card apareceTarjeta col-12">
              <div class="card-body" style="padding: 1rem;">
                <p class="textoApareceTarjeta">El punto limpio móvil entregará  los residuos reciclables para ser enfardados y preparados para su reciclaje.</p>
              </div>
            </div>
          </div>
  
          <div *ngIf="mostrarTexto4">
            <div class="card apareceTarjeta col-12">
              <div class="card-body" style="padding: 1rem;">
                <p class="textoApareceTarjeta">Contamos con un sistema digital que monitorea tus residuos desde su recolección hasta su reciclaje.</p>
              </div>
            </div>
          </div>
  
          <div *ngIf="mostrarTexto5">
            <div class="card apareceTarjeta col-12">
              <div class="card-body" style="padding: 1rem;">
                <p class="textoApareceTarjeta">Cada vez que solicitas “Quiero Reciclar” el generador de ruta formula la mejor ruta para la recolección de residuos.</p>
              </div>
            </div>
          </div>
  
  
        </div>
        <div class="col-lg-6 col-sm-12 px-5">
  
          <div class="row contIMG imagenFondo">
            
            <div id="caja1" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div><!--  (click)="agregarTexto(1)" (touchmove)="touchLeave()"-->
            <div id="caja2" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>
            <div id="caja3" class="col-2 cuadrado"></div>
            <div id="caja4" class="col-2 cuadrado"></div>
            <div id="caja5" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>
            <div id="caja6" class="col-2 cuadrado"></div>
          
            <div id="caja7" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>
            <div id="caja8" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>
            <div id="caja9" class="col-2 cuadrado"></div>
            <div id="caja10" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>
            <div id="caja11" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>
            <div id="caja12" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>
          
            <div id="caja13" class="col-2 cuadrado"></div>
            <div id="caja14" class="col-2 cuadrado" (mouseenter)="hoverStateIn(5)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(5)"></div>
            <div id="caja15" class="col-2 cuadrado"></div>
            <div id="caja16" class="col-2 cuadrado" (mouseenter)="hoverStateIn(2)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(2)"></div>
            <div id="caja17" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>
            <div id="caja18" class="col-2 cuadrado" (mouseenter)="hoverStateIn(1)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(1)"></div>

            <div id="caja19" class="col-2 cuadrado" (mouseenter)="hoverStateIn(4)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(4)"></div>
            <div id="caja20" class="col-2 cuadrado" (mouseenter)="hoverStateIn(5)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(5)"></div>
            <div id="caja21" class="col-2 cuadrado" (mouseenter)="hoverStateIn(5)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(5)"></div>
            <div id="caja22" class="col-2 cuadrado" (mouseenter)="hoverStateIn(2)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(2)"></div>
            <div id="caja23" class="col-2 cuadrado"></div>
            <div id="caja24" class="col-2 cuadrado"></div>
          
            <div id="caja25" class="col-2 cuadrado" (mouseenter)="hoverStateIn(4)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(4)"></div>
            <div id="caja26" class="col-2 cuadrado" (mouseenter)="hoverStateIn(4)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(4)"></div>
            <div id="caja27" class="col-2 cuadrado"></div>
            <div id="caja28" class="col-2 cuadrado" (mouseenter)="hoverStateIn(3)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(3)"></div>
            <div id="caja29" class="col-2 cuadrado" (mouseenter)="hoverStateIn(3)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(3)"></div>
            <div id="caja30" class="col-2 cuadrado"></div>
          
            <div id="caja31" class="col-2 cuadrado"></div>
            <div id="caja32" class="col-2 cuadrado"></div>
            <div id="caja33" class="col-2 cuadrado"></div>
            <div id="caja34" class="col-2 cuadrado" (mouseenter)="hoverStateIn(3)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(3)"></div>
            <div id="caja35" class="col-2 cuadrado" (mouseenter)="hoverStateIn(3)" (mouseleave)="hoverStateOut()" (touchstart)="touchDown(3)"></div>
            <div id="caja36" class="col-2 cuadrado"></div>
          
          </div>
        </div>
        <!-- <div class="col-lg-6 col-sm-12 contIMG">
          
          <img src="../../../assets/images/Trazabilidad.png" class="img-fluid square trazabilidadIMG" >
        </div> -->
      </div> 
    </div>
  </div>
  
  <!---FIN SECCION TRAZABILIDAD-->

    
  <!-- SECCION FONDO RUTA RECICLEMOS-->

  <div class="fondoRuraReciclemos"></div>

  
  
  <button id="myBtn">
    <img src="assets/images/up-arrow.png" alt="alternative" />
  </button>
  
<!-- Footer-->
<app-footer></app-footer>