
    <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation" 
    style="background-color: white;
    box-shadow: 0 4px 4px 0px rgb(172, 170, 170);
    
    "
    >
        <div class="container">
      
          
          
            <a class="navbar-brand" href="#" ><img src="assets/images/logo.png" 
               class="d-inline-block align-top" alt="">
               
            </a> 
      
            <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ms-auto navbar-nav-scroll">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/nosotros">NOSOTROS</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="/informacion" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">EDUCACIÓN AMBIENTAL</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" href="/informacion#BotellasPET">Plásticos: Botellas PET</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#EnvasesPEAD">Plásticos: Envases PEAD</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#EnvasesPEBD">Plásticos: Envases PEBD</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#CartonyPapel">Cartón y papel</a></li>
                            <li><div class="dropdown-divider"></div></li>
                            <li><a class="dropdown-item" href="/informacion#LatasyMetales">Latas de aluminio</a></li>
                            
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" >PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn"><i class="fa-solid fa-circle-user fa-lg"></i></button>
                    </li>
                    
                    
                    
                </ul>
                <!-- <span class="nav-item">
                    <button class="btn"><i class="fa-solid fa-circle-user "></i></button>
                </span> -->
            </div> 
        </div> 
      </nav>
  

 

  <div class="container tarjeta">

    
    <div class="row g-0">
        <div class="col-md-12 px-5"></div>

           <h2 style="text-align: center; padding-top: 7%;">Politicas de privacidad Ruta Reciclemos</h2>
           <!--INICIO INTRODUCCIÓN-->

           <h4 style="text-align: left;padding-top: 3%">1. Introducción</h4>
           <p style="text-align: justify;">Cuando usa la aplicación Ruta Reciclemos, nos confía sus datos personales, debido a esto nos 
            comprometemos a mantener la confianza que sus datos permanecerán seguros.
            Por ello como primer paso le ayudaremos a comprender nuestras prácticas de privacidad.
            En el presente documento se describen los datos personales que recopilamos, a su vez, de qué manera los utilizamos para su servicio y confort.
           </p>
        
           <!--FIN INTRODUCCIÓN-->

           <!--INICIO DESCRIPCION GENERAL-->
           <h4 style="text-align: left;padding-top: 3%">2. Descripción general</h4>
           <p style="text-align: left; color: rgb(87, 87, 211);"><b>A. Alcance</b></p>
           <p style="text-align: justify;">
            Este aviso se aplica a todos los usuarios de los servicios de la aplicación Ruta reciclemos.
            Este aviso describe como Ruta Reciclemos recopilan y usan los datos personales esto aplica a 
            todos los usuarios de la aplicación en cualquier parte de Chile.
            Nuestras prácticas están sujetas a las leyes vigentes en Chile, lo que implica que las prácticas que regimos para el uso de los datos recopilados aplicadas a una región solo si sus leyes lo permiten.
            Contáctenos si es que tiene dudas sobre las prácticas que aplicamos para su región.
           </p>
           <p style="text-align: left;color: rgb(87, 87, 211);"><b>B. Controlador y transferencia de datos</b></p>
           <p style="text-align: justify;">
            Ruta Reciclemos spa. Es el controlador de los datos personales recopilados con relación al uso de servicios de Ruta reciclemos en Chile.
            Ruta reciclemos opera con los datos tomados desde la aplicación y los procesa de acuerdo a las necesidades de uso teniendo en cuenta el 
            servicio proporcionado, estos datos no se transfieren fuera del país ni a otras empresas, esto en miras de proteger la seguridad de los datos de los usuarios de ruta reciclemos.

           </p>

           <!--FIN DESCRIPCION GENERAL-->

           <!--INICIO RECOPILACIÓN Y USO DE LOS DATOS-->
           <h4 style="text-align: left;padding-top: 3%">3. Recopilación y usos de los datos</h4>
           <p style="text-align: left; color: rgb(87, 87, 211);"><b>A. Datos recopilados</b></p>
           <p style="text-align: justify;">Ruta Reciclemos recopila los siguientes datos personales:</p>
           <ul style="padding-left: 3%;">
               <li style="text-align: justify;">Datos que los usuarios proporcionan a Ruta Reciclemos, como los que brindan los usuarios cuando crean sus cuentas.</li>
               <li style="text-align: justify;">Datos que se generan cuando se utilizan nuestros servicios, como los detalles del dispositivo, ubicación y uso de la app.</li>
           </ul>

           <p style="text-align: justify;">Datos proporcionados por usuarios. Incluye lo siguiente:</p>
           <ul style="padding-left: 3%;">
            <li style="text-align: justify;">Perfil del usuario: Recopilamos los datos que brindan los usuarios cuando crean sus cuentas de Ruta reciclemos, lo que incluye su nombre, correo electrónico, número de teléfono, contraseña, dirección de registro, y Rut.</li>
           </ul>

           <p style="text-align: justify;">Datos creados durante el uso de nuestros servicios. Incluye lo siguiente:</p>
           <ul style="padding-left: 3%;">
            <li style="text-align: justify; padding-bottom: 1%;">Datos de ubicación: Recopilamos datos de ubicación aproximados a los usuarios de Ruta reciclemos, para permitir que se realicen los viajes de recolección de desechos reciclables. 
                Ruta Reciclemos recopila esta información cuando se ejecuta la aplicación en primer plano o en segundo plano en su dispositivo móvil.</li>
            <li style="text-align: justify; padding-bottom: 1%;">Datos de ubicación de punto de recolección: Recopilamos datos de las ubicaciones aproximadas de los lugares que el usuario designa como puntos de recogida para el reciclaje cuando genera una solicitud de retiro de reciclaje, 
                esto con miras de mejorar el servicio otorgado en cuanto disponibilidad para el usuario.</li>
           </ul>

           <p style="text-align: justify;">
            Recopilamos dichos datos de los dispositivos móviles de los usuarios si se nos autoriza a hacerlo. 
            Ruta reciclemos recopila esta información en el momento que se inicia la aplicación en primer plano 
            y cada vez que la app se ejecuta en primer plano (app abierta y en pantalla) en el dispositivo móvil.
           </p>

           <p style="text-align: justify;">
            Los usuarios pueden utilizar la aplicación Ruta Reciclemos sin permitir que se recopilen los datos de ubicación de sus dispositivos móviles.
            Sin embargo, esto impide que la aplicación funcione correctamente ya que estos datos son extremadamente necesarios para la función de pedir
            retiros de reciclaje, ya que sin estos no se puede ejecutar correctamente esta función.
           </p>

           <ul style="padding-left: 3%;">
            <li style="text-align: justify; padding-bottom: 1%;">Datos de uso: Recopilamos información sobre cómo los usuarios interactúan con nuestros servicios. Esto incluye datos como la fecha y la hora de acceso, funciones de la app o páginas vistas, fallos de la app y otras actividades del sistema, y tipo de navegador.</li>
           
            <li style="text-align: justify;padding-bottom: 1%;">Datos del dispositivo: Podemos recopilar datos sobre los dispositivos usados para acceder a nuestros servicios,
            lo que incluye modelos de hardware, dirección IP u otros identificadores únicos del dispositivo, sistemas operativos y versiones, software,
            idiomas preferidos, identificadores de publicidad e información de las redes móviles o de movimiento del dispositivo.</li>
           
            <li style="text-align: justify;padding-bottom: 1%;">Datos de comunicación: Permitimos que nuestros conductores se comuniquen con los usuarios de nuestra aplicación mediante llamadas telefónicas esto en miras de mejorar el servicio de recopilación de reciclaje.</li>
            </ul>

            <p style="text-align: left; color: rgb(87, 87, 211); padding-bottom: 1%;"><b>B. Como usamos los datos personales</b></p>
            <p style="text-align: justify;">
            Ruta reciclemos utiliza los datos personales para que los servicios de retiro de reciclaje,
            así como estos sean confiables y convenientes. También usamos estos datos para lo siguiente: 
            </p>

            <ul style="padding-left: 3%;">
                <li style="text-align: justify; padding-bottom: 1%;">Mejorar la seguridad de los usuarios y de los servicios.</li>
                <li style="text-align: justify; padding-bottom: 1%;">Brindar soporte al cliente.</li>
                <li style="text-align: justify; padding-bottom: 1%;">Enviar comunicaciones de marketing a los usuarios.</li>
            </ul>

            <p style="text-align: justify;">Ruta Reciclemos no vende, ni divulga datos personales del usuario a terceros con fines de marketing directo.</p>

            <p style="text-align: justify;"> <span style="color: black;">1. Para prestar nuestros servicios. </span>Ruta reciclemos usa esta información para prestar, personalizar, mantener y mejorar los servicios.</p>
            <p style="text-align: justify;">Usamos los datos personales que recopilamos para lo siguiente:</p>

            <ul style="padding-left: 3%;">
                <li style="text-align: justify; padding-bottom: 1%;">Crear cuentas.</li>
                <li style="text-align: justify; padding-bottom: 1%;">Activar los servicios de retiro de reciclaje, funciones que involucran el intercambio de información(para el retiro de reciclaje e identificación de usuario).</li>
                <li style="text-align: justify; padding-bottom: 1%;">Crear itinerarios de ruta de reciclaje.</li>
                <li style="text-align: justify; padding-bottom: 1%;">Personalizar las cuentas de usuario. Esto en vistas de las rutas elegidas teniendo en cuenta la locación de la comuna de registro.</li>
                <li style="text-align: justify; padding-bottom: 1%;">Realizar las operaciones necesarias para mantener nuestros servicios, lo que incluye solucionar errores de software y problemas operacionales,
                    realizar análisis, pruebas e investigación, hacer un seguimiento junto con un análisis de las tendencias de uso y actividades.
                </li>

            </ul>

            <p style="text-align: justify;">Ruta reciclemos realiza las actividades anteriores, incluso la recopilación y el uso de los datos de ubicación a los fines de estas actividades,
                 ya que son necesarias para el correcto funcionamiento de nuestro servicio ofrecido.
            </p>

            <p style="text-align: justify;"> <span style="color: black;">2. Investigación y desarrollo. </span>Podemos usar los datos que recopilamos en procesos de pruebas, investigaciones, análisis, desarrollo de productos y aprendizaje automático. Con el fin de optimizar la experiencia del usuario. Esto permite mejorar la seguridad de nuestros servicios, hacerlos más convenientes, fáciles de usar y desarrollar nuevos servicios y funciones.</p>
            
            <p style="text-align: justify;"> <span style="color: black;">3. Activación de las comunicaciones hacia usuarios. </span>Por ejemplo, nuestros conductores se pueden comunicar contigo para confirmar una recepción de reciclaje en el punto de partida o en caso de no encontrarse con el usuario en el punto, el conductor puede contactarse con el usuario para informarle que este se encuentra en el punto de recolección.
            </p>
            
            <p style="text-align: justify;"> <span style="color: black;">4. Toma de decisiones de forma automatizada. </span>Usamos datos personales para tomar decisiones automatizadas en relación con el uso de nuestros servicios. Incluye lo siguiente:</p>
            

            <ul style="padding-left: 3%;">
                <li style="text-align: justify; padding-bottom: 1%;">Uso de datos de locación para generar una Ruta de recolección de reciclaje automatizada, así como los servicios necesarios para la mantención de este servicio al cliente.</li>
                <li style="text-align: justify; padding-bottom: 1%;">Ruta reciclemos realiza la actividad anteriormente mencionada por que es necesaria para su correcto funcionamiento.</li>
            </ul>

            <p style="text-align: left; color: rgb(87, 87, 211); padding-bottom: 1%;"><b>C. Divulgación de datos.</b></p>

            <p style="text-align: justify;">Si es que algún organismo gubernamental vigente exige la divulgación de datos por exigencia de la ley o reglamentación vigente, Ruta Reciclemos se ve en la obligación legal de hacer entrega de estos datos.</p>
            
            <p style="text-align: justify;">Ruta Reciclemos puede compartir los datos personales de los usuarios si así lo exige la ley, reglamentación, licencia o acuerdo de operación, proceso legal o solicitud gubernamental vigentes, o cuando la divulgación es apropiada debido a asuntos de seguridad o similares.</p>
            
            <p style="text-align: justify;">Esto incluye compartir datos personales con la fuerza del orden público, agentes de salud pública, otras entidades gubernamentales u otros terceros. </p>
            
            <p style="text-align: left; color: rgb(87, 87, 211); padding-bottom: 1%;"><b>D. Mantenimiento y eliminación de datos.</b></p>
            
            <p style="text-align: justify;">Ruta reciclemos conserva los datos del usuario por el tiempo que sea necesario para cumplir con los fines descritos anteriormente.</p>
            
            <p style="text-align: justify;">Los usuarios pueden solicitar la eliminación de sus cuentas en cualquier momento. Ruta reciclemos puede conservar los datos del usuario después de recibir una solicitud para eliminar una cuenta debido a requisitos legales o reglamentarios o por los motivos que se establecen en esta política. </p>
            
            
            <!--FIN RECOPILACIÓN Y USO DE LOS DATOS-->


            <!--INICIO OPICIONES Y TRANSPARENCIA-->
            <h4 style="text-align: left;padding-top: 3%">4. Opciones y transparencia</h4>
            <p style="text-align: left; color: rgb(87, 87, 211);"><b>A. Permisos del dispositivo</b></p>

            <p style="text-align: justify;">
                La mayoría de las plataformas de dispositivos móviles: iOS, Android, etc. 
                Definieron ciertos tipos de datos de los dispositivos a los que las apps no pueden acceder sin la autorización del propietario. Estas plataformas tienen diferentes métodos para obtener dichos permisos. Verifique la configuración disponible en su dispositivo o consulte con su proveedor.
            </p>

            <!--FIN OPICIONES Y TRANSPARENCIA-->


            <!--INICIO ACTUALIZACIONES DE ESTE AVISO-->
            <h4 style="text-align: left;padding-top: 3%">4. Actualizaciones de este aviso</h4>
            <p style="text-align: justify;">Es posible que actualicemos este aviso ocasionalmente.
                 Si realizamos cambios significativos, se los notificaremos a los usuarios a través de la app de Ruta Reciclemos o por otros medios, como por correo electrónico. Recomendamos a los usuarios revisar periódicamente este aviso para obtener información actualizada sobre nuestras prácticas de privacidad.</p>
            <p style="text-align: justify; padding-bottom: 1%;">El uso de nuestros servicios después de una actualización constituye el consentimiento del aviso modificado en la medida en que la ley lo permita.</p>
            
            <img class="center" src="../../assets/images/Ruta Reciclemos.png" style="text-align: center; width: 30%;margin-left: auto;
            margin-right: auto;">
            <!--FIN ACTUALIZACIONES DE ESTE AVISO-->


    </div>
  </div>
  


  

  
  
  
  
  
  <button id="myBtn">
    <img src="assets/images/up-arrow.png" alt="alternative" />
  </button>

  <!-- Footer-->
  <footer class="footere" >


    <!-- <div class="container px-5">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2022</p>
    </div> -->
    <div class="form-inline container  p-4">
        <div class="row">
          <div class=" col-md-3 col-sm-12">
            <h4 style="color: white;">Ruta Reciclemos</h4>
          </div>
        <div class=" col-md-3 col-sm-12">
            <h4 style="color: white;">Menu</h4>
            
            <!-- <div class="col"><a href="/nosotros">NOSOTROS</a></div>
            <div class="col"><a href="/informacion">EDUCACIÓN AMBIENTAL</a></div>
            <div class="col"><a href="#">PRODUCTOS</a></div> -->
            <ul class="plain">
                <li style="margin-bottom: 5%;"><a href="/nosotros" class="hacheRef" >Nosotros</a></li>
                <li style="margin-bottom: 5%;"><a href="/informacion" class="hacheRef">Educación ambiental</a></li>
                <li style="margin-bottom: 5%;"><a href="#" class="hacheRef">Productos</a></li>
                <li style="margin-bottom: 5%;"><a href="/politicas" class="hacheRef">Politicas de privacidad</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-12">
            <h4 style="color: white;">Contacto</h4>
            <!-- <div class="col"><i class="fa-solid fa-house" style="color: white; padding-top: 3%;"></i> Hugo Montriou #1386, Concepción, Chile</div> -->
            <div class="col"><i class="fa-solid fa-envelope" style="color: white; padding-top: 5%;"></i> rutaReciclemos@gmail.com</div>
            <div class="col"><i class="fa-solid fa-phone-flip" style="color: white; padding-top: 5%;"></i> +569 7930 1455</div>
            <!-- <div><i class="fa-solid fa-location-dot" style="color: white; padding-top: 5%; padding-bottom: 5%;"></i><a class="hacheRef" href="https://www.google.cl/maps/place/Hugo+Montriou+1386,+Concepci%C3%B3n,+B%C3%ADo+B%C3%ADo/@-36.8075957,-73.0533687,17z/data=!3m1!4b1!4m5!3m4!1s0x9669b5b0be1d338b:0xb8c272d023b90f9f!8m2!3d-36.8076!4d-73.05118" > Ver en Google maps</a></div> -->
        </div>
        <div class="col-md-3 col-sm-12">
            <h4 style="color: white;">Redes sociales</h4>    
            <ul class="plain">
                <li><a href="https://www.instagram.com/rutareciclemos/" class="hacheRef"><i class="fa-brands fa-instagram fa-2x" style="margin-bottom: 2%; margin-top: 3%; text-align: center;"></i></a></li>
                <li><a href="/informacion" class="hacheRef"><i class="fa-brands fa-facebook fa-2x" style="margin-bottom: 3%;"></i></a></li>
                <li><a href="https://www.tiktok.com/@rutareciclemos" class="hacheRef"><i class="fa-brands fa-tiktok fa-2x" style="margin-bottom: 2%;"></i></a></li>
                <li><a href="#" class="hacheRef"><i class="fa-brands fa-linkedin fa-2x" style="margin-bottom: 2%;"></i></a></li>
            </ul>
        </div>
        </div> <!--row-->
        <p style="color: white; text-align: center; padding-top: 2%;"><i class="fa-solid fa-copyright"></i> <b> Ruta Reciclemos 2022.</b>  Todos los derechemos reservados.</p>
      </div> <!--form inline container-->
  
</footer>
  

