<div class=" motherBox" >
<app-menu></app-menu>
<div class="container">
<h1 style="text-align:center;  border-bottom: 2px solid #000;border-top: 2px solid #000;   "><b>Actualizar productos</b></h1>
</div>

    <div class="container-fluid ripz">
        
        <!---INICIO PET-->
        <div class="item">
           <table id="tbl" class="table table-striped table-bordered tablita"
            style="text-align: center;">
                <thead style="background-color:#FFEA00">
                    <tr>
                        <td colspan="2">Botellas PET</td>
                        
                    </tr>
          
                </thead>
          
                <tbody id="waw" style="text-align: center;">
                    <tr>
                        <td>Cantidad (kg)</td>
                        <td>{{pet.cantidad}}</td>
                    </tr>
                    <tr>
                        <td>Precio $</td>
                        <td>{{pet.precio}} clp</td>
                    <tr>
                        <td>Agregar cantidad (kg) </td>
                        <td> <input  type="number" placeholder="0" [(ngModel)]="pet.nuevaCantidad" style="text-align: center;width: 95%"> </td>
                    </tr>
                    <tr>
                        <td>Nuevo precio </td>
                        <td> <input  type="number" placeholder="0" [(ngModel)]="pet.nuevoPrecio"  style="text-align: center;width: 95%"> </td>
                    </tr>
                    <tr>
                       <td colspan="2"> 
                           <button 
                            type="button" 
                            class="btn btn-outline-dark actualizar" 
                            (click)="actualizar(pet)" 
                            
                            >Actualizar</button></td>
                    </tr>
                </tbody>
          
            </table>
        </div>
        <!---FIN PET-->

        <!---INICIO PEEAD-->
        <div class="item">  
            <table id="tbl" class="table table-striped table-bordered tablita"
             style="text-align: center;">
                 <thead style="background-color:#FDDA0D">
                     <tr>
                        <td colspan="2">Envases PEAD</td>
                     </tr>
           
                 </thead>
           
                 <tbody  style="text-align: center;">
                     <tr>
                         <td>Cantidad (kg)</td>
                         <td >{{pead.cantidad}}</td>
                     </tr>
                     <tr>
                         <td>Precio $</td>
                         <td >{{pead.precio}} clp</td>
                     </tr>
                     <tr>
                         <td>Agregar cantidad (kg) </td>
                         <td> <input  type="number" placeholder="0" [(ngModel)]="pead.nuevaCantidad"  style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                         <td>Nuevo precio </td>
                         <td> <input  type="number" placeholder="0" [(ngModel)]="pead.nuevoPrecio" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                        <td colspan="2"> <button 
                            type="button" 
                            class="btn btn-outline-dark actualizar"
                            (click)="actualizar(pead)" 
                            >Actualizar</button>
                        </td>
                     </tr>
                 </tbody>
           
             </table>
         </div>


        <!---FIN PEEAD-->

        <!--INICIO PEBD-->
        <div class="item">
            <table id="tbl" class="table table-striped table-bordered tablita"
             style="text-align: center;">
                 <thead style="background-color:#DFFF00">
                     <tr>
                        <td colspan="2">Envases PEBD</td>
                     </tr>
           
                 </thead>
           
                 <tbody id="waw" style="text-align: center;">
                     <tr>
                         <td>Cantidad (kg)</td>
                         <td>{{pebd.cantidad}}</td>
                     </tr>
                     <tr>
                         <td>Precio $</td>
                         <td>{{pebd.precio}} clp</td>
                     </tr>
                     <tr>
                         <td>Agregar cantidad (kg)</td>
                         <td> <input  type="number" placeholder="0" [(ngModel)]="pebd.nuevaCantidad" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                         <td>Nuevo precio</td>
                         <td> <input  type="number" placeholder="0" [(ngModel)]="pebd.nuevoPrecio" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                        <td colspan="2"> 
                            <button 
                            type="button" 
                            class="btn btn-outline-dark actualizar"
                            (click)="actualizar(pebd)" 
                            >Actualizar</button>
                        </td>
                     </tr>
                 </tbody>
           
             </table>
         </div>


        <!--FIN PEBD-->

        <!--INICIO CARTON Y PAPELES-->
        <div class="item">
            <table id="tbl" class="table table-striped table-bordered tablita"
             style="text-align: center;">
                 <thead style="background-color:#0096FF">
                     <tr>
                        <td colspan="2">Cartón y papel</td>
                     </tr>
           
                 </thead>
           
                 <tbody id="waw" style="text-align: center;">
                     <tr>
                         <td>Cantidad (kg)</td>
                         <td >{{carton.cantidad}}</td>
                     </tr>
                     <tr>
                         <td>Precio $</td>
                         <td>{{carton.precio}} clp</td>
                     </tr>
                     <tr>
                         <td>Agregar cantidad (kg)</td>
                         <td> <input  type="number" placeholder="0" [(ngModel)]="carton.nuevaCantidad" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                         <td>Nuevo precio </td>
                         <td> <input  type="number" placeholder="0" [(ngModel)]="carton.nuevoPrecio" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                        <td colspan="2"> 
                            <button 
                            type="button" 
                            class="btn btn-outline-dark actualizar"
                            (click)="actualizar(carton)" 
                            >Actualizar</button>
                        </td>
                     </tr>
                 </tbody>
           
             </table>
         </div>

         <!--FIN CARTON Y PAPELES-->


         <!---INICIO ALUMINIO-->
         <div class="item">
            <table id="tbl" class="table table-striped table-bordered  tablita"
             style="text-align: center;">
                 <thead style="background-color:#888888">
                     <tr>
                        <td colspan="2">Latas de aluminio</td>
                     </tr>
           
                 </thead>
           
                 <tbody id="waw" style="text-align: center;">
                     <tr>
                         <td>Cantidad (kg)</td>
                         <td >{{aluminio.cantidad}}</td>
                     </tr>
                     <tr>
                         <td>Precio $</td>
                         <td >{{aluminio.precio}} clp</td>
                     </tr>
                     <tr>
                         <td>Agregar cantidad (kg) </td>
                         <td> <input id="nuevoVolumenP840" type="number" placeholder="0" [(ngModel)]="aluminio.nuevaCantidad"  style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                         <td>Nuevo precio </td>
                         <td> <input id="nuevoVolumenP840" type="number" placeholder="0" [(ngModel)]="aluminio.nuevoPrecio" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                        <td colspan="2"> 
                            <button 
                            type="button" 
                            class="btn btn-outline-dark actualizar"
                            (click)="actualizar(aluminio)" 
                            >Actualizar</button>
                        </td>
                     </tr>
                 </tbody>
           
             </table>
         </div>

         <!---FIN ALUMINIO-->

    </div>
   
    



  



</div>
<app-footer></app-footer>