<div class="motherBox" >
<app-menu></app-menu>
<h1 style="text-align:center;  border-bottom: 2px solid #000;border-top: 2px solid #000;   "><b>Actualizar productos</b></h1>
    <div class="container-fluid ripz">
        <!---INICIO PET-->
        <div class="item">
           <table id="tbl" class="table table-striped table-bordered "
            style="text-align: center;border:2px solid #383838;">
                <thead style="background-color:#ffaf4d;">
                    <tr>
                        <td colspan="2">PET</td>
                        
                    </tr>
          
                </thead>
          
                <tbody id="waw" style="text-align: center;">
                    <tr>
                        <td>Cantidad</td>
                        <td>1000L</td>
                    </tr>
                    <tr>
                        <td>Precio</td>
                        <td id="va1"> L</td>
                    </tr>
                    <tr>
                        <td>Nueva cantidad </td>
                        <td> <input  type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                    </tr>
                    <tr>
                        <td>Nuevo precio </td>
                        <td> <input  type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                    </tr>
                    <tr>
                       <td colspan="2"> <button type="button" class="btn btn-primary">Actualizar</button></td>
                    </tr>
                </tbody>
          
            </table>
        </div>
        <!---FIN PET-->

        <!---INICIO PEEAD-->
        <div class="item">  
            <table id="tbl" class="table table-striped table-bordered "
             style="text-align: center;border:2px solid #383838;">
                 <thead style="background-color:#ffaf4d;">
                     <tr>
                        <td colspan="2">PEAD</td>
                     </tr>
           
                 </thead>
           
                 <tbody  style="text-align: center;">
                     <tr>
                         <td>Cantidad</td>
                         <td >1000L</td>
                     </tr>
                     <tr>
                         <td>Precio</td>
                         <td > L</td>
                     </tr>
                     <tr>
                         <td>Nueva cantidad </td>
                         <td> <input  type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                         <td>Nuevo precio </td>
                         <td> <input  type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                        <td colspan="2"> <button type="button" class="btn btn-primary">Actualizar</button>
                        </td>
                     </tr>
                 </tbody>
           
             </table>
         </div>


        <!---FIN PEEAD-->

        <!--INICIO PEBD-->
        <div class="item">
            <table id="tbl" class="table table-striped table-bordered "
             style="text-align: center;border:2px solid #383838;">
                 <thead style="background-color:#ffaf4d;">
                     <tr>
                        <td colspan="2">PEBD</td>
                     </tr>
           
                 </thead>
           
                 <tbody id="waw" style="text-align: center;">
                     <tr>
                         <td>Cantidad</td>
                         <td id="cap1">1000L</td>
                     </tr>
                     <tr>
                         <td>Precio</td>
                         <td id="va1"> L</td>
                     </tr>
                     <tr>
                         <td>Nueva cantidad </td>
                         <td> <input id="nuevoVolumenP840" type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                         <td>Nuevo precio </td>
                         <td> <input id="nuevoVolumenP840" type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                        <td colspan="2"> <button type="button" class="btn btn-primary actualizarP840" id="Act1" name="Act1"
                               style="text-align: right;">Actualizar</button>
                        </td>
                     </tr>
                 </tbody>
           
             </table>
         </div>


        <!--FIN PEBD-->

        <!--INICIO CARTON Y PAPELES-->
        <div class="item">
            <table id="tbl" class="table table-striped table-bordered "
             style="text-align: center;border:2px solid #383838;">
                 <thead style="background-color:#ffaf4d;">
                     <tr>
                        <td colspan="2">CARTÓN Y PAPEL</td>
                     </tr>
           
                 </thead>
           
                 <tbody id="waw" style="text-align: center;">
                     <tr>
                         <td>Cantidad</td>
                         <td id="cap1">1000L</td>
                     </tr>
                     <tr>
                         <td>Precio</td>
                         <td id="va1"> L</td>
                     </tr>
                     <tr>
                         <td>Nueva cantidad </td>
                         <td> <input id="nuevoVolumenP840" type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                         <td>Nuevo precio </td>
                         <td> <input id="nuevoVolumenP840" type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                        <td colspan="2"> <button type="button" class="btn btn-primary actualizarP840" id="Act1" name="Act1"
                               style="text-align: right;">Actualizar</button>
                        </td>
                     </tr>
                 </tbody>
           
             </table>
         </div>

         <!--FIN CARTON Y PAPELES-->


         <!---INICIO ALUMINIO-->
         <div class="item">
            <table id="tbl" class="table table-striped table-bordered "
             style="text-align: center;border:2px solid #383838;">
                 <thead style="background-color:#ffaf4d;">
                     <tr>
                        <td colspan="2">ALUMINIO</td>
                     </tr>
           
                 </thead>
           
                 <tbody id="waw" style="text-align: center;">
                     <tr>
                         <td>Cantidad</td>
                         <td id="cap1">1000L</td>
                     </tr>
                     <tr>
                         <td>Precio</td>
                         <td id="va1"> L</td>
                     </tr>
                     <tr>
                         <td>Nueva cantidad </td>
                         <td> <input id="nuevoVolumenP840" type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                         <td>Nuevo precio </td>
                         <td> <input id="nuevoVolumenP840" type="number" placeholder="0" value="0" style="text-align: center;width: 95%"> </td>
                     </tr>
                     <tr>
                        <td colspan="2"> <button type="button" class="btn btn-primary actualizarP840" id="Act1" name="Act1"
                               style="text-align: right;">Actualizar</button>
                        </td>
                     </tr>
                 </tbody>
           
             </table>
         </div>

         <!---FIN ALUMINIO-->

    </div>
   
    



  



</div>
<app-footer></app-footer>