li, div {
    font-family: 'Open Sans', arial, sans-serif;
    color: #494d55;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

h2 {
    font-family: sans-serif ;
    font-weight: 500;
    color: #000;
}

/* .botonText{
    color: #223150;
    margin-bottom: 0;
} */

.contenedor{
    margin-top: 7rem;
    /* margin-bottom: 5rem; */
}

.titulo{
    font-size: 3.25rem;
    margin-bottom: 2rem;
}


.pricing-table{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.pricing-table .list-group {
    box-shadow: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.pricing-table .card .card-body .list-group .list-group-item {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.1);
}
.pricing-table .card .card-body .list-group .list-group-item:first-child {
    border-top: 0px;
}
.pricing-table .card .card-body .list-group .list-group-item:last-child {
    border-bottom: 0px;
    color: #223150;
    padding: .5rem 0rem;
}
.pricing-table.pricing-table-color .card .card-body .list-group .list-group-item {
    background-color: transparent;
    border-color: #223150;
    /* color: #fff; */
}
.price-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.price {
    font-size: 3.5em;
    line-height: 0.5em;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0;
}

.currency {
    font-size: 25px;
}

small{
    font-weight: 400;
}

/* Boton */

.btn {
	font-size: 0.7rem;
	font-weight: 500;
	letter-spacing: 1px;
	padding: 9px 19px;
	border-radius: 0.25rem;
	text-transform: uppercase;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
  
.btn-round {
	border-radius: 30px !important;
}

.btn-link {
    color: #7934f3;
	font-weight: 600;
	box-shadow: none;
    text-decoration: none;
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

.text-primary {
    color: #FFEA00 !important;
}

.bg-white {
    background-color: #fff !important;
}

img {
    width: 50%;
    border-radius: 50%;
    margin: 1rem;
    background-color: #fff;
   /*  border: 1px solid #c4c1da; */
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.texto_productos{
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.texto_productos span {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
    text-align: justify;
    font-family:  'gilroy-light'; 
}

.enmarcado{
    border: 5px solid #5C0099;
    border-radius: 10px;
    padding: 2% 0px 2% 0px;
    margin:  0px .5% 0px .5%;
}