<!-- Bar chart-->
<div class="col-lg-12 col-xl-12" [hidden]="desactivado">
   <!---INICIO REGISTROS DE VENTAS-->
    <div class="card">
        <div class="card-header text-uppercase">Registros de ventas Pendientes por aprobar</div>
        <div class="card-body">
            
            
        </div>
    </div>

    <!---FIN REGISTROS DE VENTAS-->

    <!--Técnica ancestral para dar espacio-->
    <br>
    <!--Técnica ancestral para dar espacio-->

    <div class="card">
        <div class="card-header text-uppercase">Gráfico de Ventas</div>
        <div class="card-body">
            <button class="btn btn-success"><i class="fa-solid fa-file-excel"></i> Descargar</button>
            <div class="canvas-container">
                <div class="w-75">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / Bar chart-->
