<!-- Bar chart-->
<div class="col-lg-6 col-xl-6" [hidden]="desactivado">
    <div class="card">
        <div class="card-header text-uppercase">Ventas</div>
        <div class="card-body">
            <div class="height-240">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- / Bar chart-->
