<div class="row">
    <div class="sidebar expanded col-lg-4" [hidden]="oculatrSidebar">
        <div class="sidebar-item no-hover" id="burger">
            <i class="fa fa-bars hand" aria-hidden="true"></i>
            <span>Graficos Administración</span>
        </div>
        <div class="sidebar-item {{resumen}}" (click)="menuClick(1)">
            <i class="fa fa-pie-chart icono" aria-hidden="true"></i>
            <span>Resumen</span>
            <i class="fa fa-angle-right" style="float:right;" aria-hidden="true"></i>
        </div>
        <div class="sidebar-item {{comunas}}" (click)="menuClick(2)">
            <i class="fa fa-pie-chart icono" aria-hidden="true"></i>
            <span>Reciclaje por comuna</span>
            <i class="fa fa-angle-right" style="float:right;" aria-hidden="true"></i>
        </div>
        <div class="sidebar-item {{personas}}" (click)="menuClick(3)">
            <i class="fa fa-pie-chart icono" aria-hidden="true"></i>
            <span>Reciclaje por personas</span>
            <i class="fa fa-angle-right" style="float:right;"  aria-hidden="true"></i>
        </div>
        <div class="sidebar-item {{edades}}" (click)="menuClick(4)">
            <i class="fa fa-pie-chart icono" aria-hidden="true"></i>
            <span>Reciclaje por edad</span>
            <i class="fa fa-angle-right" style="float:right;" aria-hidden="true"></i>
        </div>
        <div class="sidebar-item {{generos}}" (click)="menuClick(5)">
            <i class="fa fa-pie-chart icono" aria-hidden="true"></i>
            <span>Reciclaje por género</span>
            <i class="fa fa-angle-right" style="float:right;" aria-hidden="true"></i>
        </div>
        <div class="sidebar-item {{ventas}}" (click)="menuClick(6)">
            <i class="fa fa-bar-chart" style="color: blue;" aria-hidden="true"></i>
            <span>Ventas</span>
            <i class="fa fa-angle-right" style="float:right;" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-6 col-sm-12">
        <app-resumen [desactivado]="!activarReseumen"></app-resumen>
        <app-chart-comuna [desactivado]="!activarComunas"></app-chart-comuna>
        <app-chart-ventas [desactivado]="!activarVentas"></app-chart-ventas> 
        <app-chart-personas [desactivado]="!activarPersonas"></app-chart-personas>
        <app-chart-edad [desactivado]="!activarEdades"></app-chart-edad>
        <app-chart-genero [desactivado]="!activarGeneros"></app-chart-genero>
    </div>
</div>


