<div class="materiales">
    <div class="row py-5">
        <!------------------------INICIO PET--------------------->
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-3">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/PET.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="text-center">Botellas PET</h5>
                        </div>

                        <div class="col-lg-6">
                            <h5 class="text-center">${{pet.precio}} CLP/kg</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-10">
                                    <label for="input-1">Cantidada llevar:</label>
                                    <input  type="number" placeholder="0" [(ngModel)]="pet.cantidad" style="text-align: center;width: 95%">
                                </div>
                            </div>
                            <p>Disponible: {{pet.disponible}} kg</p> 
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn btn-success"
                                (click)="addToShopCart(pet.cantidad, pet.precio, pet.disponible, pet.nombre, pet.estado)"
                                ><i class="fa fa-cart-shopping"></i></button>
                            </div>
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn borrar" 
                                (click)="removeFromShopCart(pet.cantidad, pet.nombre, pet.precio)"
                                ><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                            
                            
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <!------------------------FIN PET--------------------->


        <!------------------------INICIO PEAD--------------------->
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-3">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/PEAD.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="text-center">Envases PEAD</h5>
                        </div>

                        <div class="col-lg-6">
                            <h5 class="text-center">${{pead.precio}} CLP/kg</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <label for="input-1">Cantidad a llevar:</label>
                            <input  type="number" placeholder="0" [(ngModel)]="pead.cantidad" style="text-align: center;width: 95%">
                            <p>Disponible: {{pead.disponible}} kg</p>
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn btn-success" 
                                (click)="addToShopCart(pead.cantidad, pead.precio, pead.disponible, pead.nombre, pead.estado)"
                                ><i class="fa fa-cart-shopping"></i></button>
                            </div>
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn borrar" 
                                (click)="removeFromShopCart(pead.cantidad, pead.nombre, pead.precio)"
                                ><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                            
                            
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <!------------------------FIN PEAD--------------------->


        <!------------------------INICIO PEBD--------------------->
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-3">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/PEBD.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="text-center">Envases PEBD</h5>
                        </div>

                        <div class="col-lg-6">
                            <h5 class="text-center">${{pebd.precio}} CLP/kg</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <label for="input-1">Cantidad a llevar:</label>
                            <input  type="number" placeholder="0" [(ngModel)]="pebd.cantidad" style="text-align: center;width: 95%">
                            <p>Disponible: {{pebd.disponible}} kg</p>
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn btn-success" 
                                (click)="addToShopCart(pebd.cantidad, pebd.precio, pebd.disponible, pebd.nombre, pebd.estado)"
                                ><i class="fa fa-cart-shopping"></i></button>
                            </div>
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn borrar" 
                                (click)="removeFromShopCart(pebd.cantidad, pebd.nombre, pebd.precio)"
                                ><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                            
                            
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
        <!------------------------FIN PEBD--------------------->
        

        <!------------------------INICIO CARTON Y PAPEL--------------------->
        <div class="col-lg-4" style="margin-top: 3%">
            <div class="row">
                <div class="col-lg-3">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/PAPELES CARTONES.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="text-center">Cartón y papel</h5>
                        </div>

                        <div class="col-lg-6">
                            <h5 class="text-center">${{carton.precio}} CLP/kg</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <label for="input-1">Cantidad a llevar:</label>
                            <input  type="number" placeholder="0" [(ngModel)]="carton.cantidad" style="text-align: center;width: 95%">
                            <p>Disponible: {{carton.disponible}} kg</p>
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn btn-success" 
                                (click)="addToShopCart(carton.cantidad, carton.precio, carton.disponible, carton.nombre, carton.estado)"
                                ><i class="fa fa-cart-shopping"></i></button>
                            </div>
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn borrar"
                                (click)="removeFromShopCart(carton.cantidad, carton.nombre, carton.precio)"
                                ><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                            
                            
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>

        <!------------------------FIN CARTON Y PAPEL--------------------->



        <!------------------------INICIO LATAS DE ALUMINIO--------------------->
        <div class="col-lg-4" style="margin-top: 3%">
            <div class="row">
                <div class="col-lg-3">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/LATAS.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <h5 class="text-center">Latas de aluminio</h5>
                        </div>

                        <div class="col-lg-6">
                            <h5 class="text-center">${{aluminio.precio}} CLP/kg</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <label for="input-1">Cantidad a llevar:</label>
                            <input  type="number" placeholder="0" [(ngModel)]="aluminio.cantidad" style="text-align: center;width: 95%">
                            <p>Disponible: {{aluminio.disponible}} Kg</p>
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn btn-success"
                                (click)="addToShopCart(aluminio.cantidad, aluminio.precio, aluminio.disponible, aluminio.nombre, aluminio.estado)"
                                ><i class="fa fa-cart-shopping"></i></button>
                            </div>
                            <div class="col box-button">
                                <button 
                                type="button" 
                                class="btn borrar" 
                                (click)="removeFromShopCart(aluminio.cantidad, aluminio.nombre, aluminio.precio)"
                                ><i class="fa-solid fa-trash-can"></i></button>
                            </div>
                            
                            
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>


        <!------------------------FIN LATAS DE ALUMINIO--------------------->

        <!------------------------INICIO TOTAL Y CONTINUAR ... TOTAL... A LAS FINALES NO NOS QUEDA NADA MAS QUE CONTINUAR------->
        <div class="col-lg-4" style="margin-top: 3%">
            <div class="row">
                <h4 class="text-center">Total: ${{total}} CLP</h4>
            </div>
            
            <div class="row continuar ">
                <button type="button" class="btn btn-primary boton" (click)="enviarMateriales()">CONTINUAR</button>
            </div>
        </div>
        <!-----------FIN TOTAL Y CONTINUAR.... -->
        
        
    </div>
</div>
