<div class="container materiales">
    <div class="row py-5">
        <!------------------------INICIO PET--------------------->
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/PET.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5 class="text-center">Botellas PET</h5>
                        </div>

                        <div class="col-lg-4">
                            <h5 class="text-center">$199</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-10">
                                    <label for="input-1">Cantidad:</label>
                                    <input  type="number" placeholder="0" value="0" style="text-align: center;width: 100%">
                                </div>
                                <div class="col-lg-1">
                                    <button type="button" class="btn borrar" ><i class="fa-solid fa-trash-can"></i></button>
                                </div>

                            </div>
                            
<!--                             
                            <button type="button" class="btn" ><i class="fa-solid fa-trash-can"></i></button> -->
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <button type="button" class="btn btn-success m-1" ><i class="fa fa-cart-shopping"></i></button>
                        </div>
                        <p>Disponible: 674.3 Kg</p>
                    </div>

                </div>
            </div>
        </div>
        <!------------------------FIN PET--------------------->


        <!------------------------INICIO PEAD--------------------->
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/PEAD.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5 class="text-center">Envases PEAD</h5>
                        </div>

                        <div class="col-lg-4">
                            <h5 class="text-center">$199</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <label for="input-1">Cantidad:</label>
                            <input  type="number" placeholder="0" value="0" style="text-align: center;width: 95%">
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <button type="button" class="btn btn-success m-1" ><i class="fa-solid fa-circle-check"></i></button>
                        </div>
                        <p>Disponible: 674.3 Kg</p>
                    </div>

                </div>
            </div>
        </div>
        <!------------------------FIN PEAD--------------------->


        <!------------------------INICIO PEBD--------------------->
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/PEBD.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5 class="text-center">Envases PEBD</h5>
                        </div>

                        <div class="col-lg-4">
                            <h5 class="text-center">$199</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <label for="input-1">Cantidad:</label>
                            <input  type="number" placeholder="0" value="0" style="text-align: center;width: 95%">
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <button type="button" class="btn btn-success m-1" ><i class="fa-solid fa-circle-check"></i></button>
                        </div>
                        <p>Disponible: 674.3 Kg</p>
                    </div>

                </div>
            </div>
        </div>
        <!------------------------FIN PEBD--------------------->
        

        <!------------------------INICIO CARTON Y PAPEL--------------------->
        <div class="col-lg-4" style="margin-top: 3%">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/PAPELES CARTONES.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5 class="text-center">Cartón y papel</h5>
                        </div>

                        <div class="col-lg-4">
                            <h5 class="text-center">$199</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <label for="input-1">Cantidad:</label>
                            <input  type="number" placeholder="0" value="0" style="text-align: center;width: 95%">
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <button type="button" class="btn btn-success m-1" ><i class="fa-solid fa-circle-check"></i></button>
                        </div>
                        <p>Disponible: 674.3 Kg</p>
                    </div>

                </div>
            </div>
        </div>

        <!------------------------FIN CARTON Y PAPEL--------------------->



        <!------------------------INICIO LATAS DE ALUMINIO--------------------->
        <div class="col-lg-4" style="margin-top: 3%">
            <div class="row">
                <div class="col-lg-4">
                    <!-- <img class="imagen" src="assets/images/img/PET.png"> -->
                    <img class="img-fluid rounded-circle" src="../../../assets/images/img/LATAS.png" alt="..."  style="box-shadow: 0 0 2em rgba(30, 30, 31, 0.932);"/>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5 class="text-center">Latas aluminio</h5>
                        </div>

                        <div class="col-lg-4">
                            <h5 class="text-center">$199</h5>
                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-8">
                            <label for="input-1">Cantidad:</label>
                            <input  type="number" placeholder="0" value="0" style="text-align: center;width: 95%">
                        </div>
                        <div class="col-lg-4"  style="margin-top: 5%;">
                            <button type="button" class="btn btn-success m-1" ><i class="fa-solid fa-circle-check"></i></button>
                        </div>
                        <p>Disponible: 674.3 Kg</p>
                    </div>

                </div>
            </div>
        </div>


        <!------------------------FIN LATAS DE ALUMINIO--------------------->
        
        
    </div>
</div>
