<div class="card">
	<div class="card-header text-uppercase">Input Group With Buttons</div>
	<div class="card-body">
		<div class="row inputsForm">
			<div class="col-12 col-lg-6 col-xl-6 body-box">
				<div class="inputBox">
					<input type="text" required="required">
					<span class="">Nombre de la Empresa</span>
				</div>
				<div class="inputBox mt-4">
					<input type="text" required="required">
					<span class="">Giro</span>
				</div>
				<div class="inputBox mt-4">
					<input type="text" required="required">
					<span>Correo Electrónico</span>
				</div>
				<!-- <div class="input-group mb-3">
					<span class="input-group-text inputsForm">Nombre de la Empresa</span>
					<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
				</div> -->
			</div>
			<div class="col-12 col-lg-6 col-xl-6 body-box">
				<div class="inputBox">
					<input type="text" required="required">
					<span class="">Rut de la Empresa</span>
				</div>
				<div class="inputBox mt-4">
					<input type="text" required="required">
					<span class="">Dirección</span>
				</div>
				<div class="inputBox  mt-4">
					<input type="text" required="required">
					<span class="">Teléfono</span>
				</div>
				
				<!-- <div class="input-group mb-3">
					<span class="input-group-text inputsForm">Rut de la Empresa</span>
					<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
				</div> -->
			</div>
		</div>
		<!--end row-->
	</div>
</div>